<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar%}
    <div id="Karriere">
        <div class="KBild">
            <img src="{{ url_for('static', filename='Bilder/Karriere.jpg') }}">
            <h1>ЗАПОЧНЕТЕ КАРИЕРАТА СИ С НАС ДНЕС</h1>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert-message">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible">
                {{ message }}
                <button type="button" class="close" onclick="destroy(this)">
                    <span>&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="KText">
            <div class="Vorwort">
                <h3>ВАШИЯТ ПАРТНЬОР ЗА ЖИЗНЕНИЯ ЦИКЪЛ НА СГРАДИТЕ</h3>
                <h1>ГОТОВИ СТЕ ДА ТРАНСФОРМИРАТЕ СВЕТА НА НЕДВИЖИМИТЕ ИМОТИ?</h1>
                <p>
                    Ние формираме настоящето и бъдещето на сградите- като BAE Group, ние прилагаме цялостен подход към недвижимите имоти. Чрез нашата работа по ключови теми, структурирани в осем стратегически бизнес направления- Техническо оборудване за сгради, Договори, Управление на проекти, Дигитални решения, Управление на активи, Управление на недвижими имоти, Генерален проектант и Управление на инвестиции – ние обединяваме всички решения, свързани със сградите, под един покрив. Търсим теб!
                </p>
            </div>
            <div class="Benefits">
                <h3>ПРЕДИМСТВА</h3>
                <h1>ЕТО ЗАЩО ТРЯБВА ДА СЕ ПРИСЪЕДИНИТЕ КЪМ BAE:</h1>
                <div class="grid">
                    <div class="benefit">
                        <div>
                            <img src="{{ url_for('static', filename='Bilder/Homeoffice.jpg') }}" alt="">
                        </div>
                        <h4>Home office и гъвкаво работно време</h4>
                        <p>
                            Можете да нагласяте работното си време в рамките на 40-часовата работна седмица, а дистанционна работа е възможна по предварителна уговорка.
                        </p>
                    </div>
                    <div class="benefit">
                        <div>
                            <img src="{{ url_for('static', filename='Bilder/Seminare.jpg') }}" alt="">
                        </div>
                        <h4>Обучения и семинари</h4>
                        <p>
                            Ние се фокусираме върху вашето бъдеще. С нас, Вие имате възможност да се развивате допълнително чрез вътрешни и външни обучения или семинари, и да превключвате между вълнуващи бизнес области.
                        </p>
                    </div>
                    <div class="benefit">
                        <div>
                            <img src="{{ url_for('static', filename='Bilder/Miteinander.jpg') }}" alt="">
                        </div>
                        <h4>Колегиално сътрудничество и кратки комуникационни канали</h4>
                        <p>
                            С нас ще се насладите на колегиална атмосфера с директни комуникационни канали.
                        </p>
                    </div>
                    <div class="benefit">
                        <div>
                            <img src="{{ url_for('static', filename='Bilder/Zuschuesse.jpg') }}" alt="">
                        </div>
                        <h4>Субсидии и атрактивни компенсации </h4>
                        <p>
                            В допълнение към атрактивното заплащане, ние предлагаме и субсидия за пенсионната схема на компанията, застраховка и фирмени придобивки, както и личен транспорт, който може да се използва и за лично ползване. 
                        </p>
                    </div>
                    <div class="benefit">
                        <div>
                            <img src="{{ url_for('static', filename='Bilder/Augenhoehe.jpg') }}" alt="">
                        </div>
                        <h4>Работа при равни условия</h4>
                        <p>
                            Разнообразието, уважението, приемането и работата при равни условия са особено важни за нас. 
                        </p>

                    </div>
                    <div class="benefit">
                        <div>
                            <img src="{{ url_for('static', filename='Bilder/Teamevents.jpg') }}" alt="">
                        </div>
                        <h4>Редовни събития на екипа</h4>
                        <p>
                            Споделените събития на екипа ни правят силен отбор, дори извън работата. 
                        </p>

                    </div>
                </div>
                <img class="raute1" src="{{ url_for('static', filename='Icons/Raute1.svg') }}">
                <img class="raute2" src="{{ url_for('static', filename='Icons/Raute1.svg') }}">
                <img class="raute3" src="{{ url_for('static', filename='Icons/Raute1.svg') }}">
            </div>
        </div>

        <div class="KStellen">
            <h3>Кандидатствайте сега </h3>
            <h1>Отворени позиции</h1>

            <div class="filter">
                <div>
                    <label for="ort"><b>Локация:</b></label>
                    <select id="ort" name="ort">
                        <option value="stellenanzeige">Всички</option>
                        <option value="frankfurt">Frankfurt am Main</option>
                        <option value="berlin">Berlin</option>
                        <option value="muenchen">Munich</option>
                        <option value="coburg">Coburg</option>
                        <option value="bamberg">Bamberg</option>
                        <option value="deggendorf">Deggendorf</option>
                        <option value="sofia">Sofia</option>
                        <option value="varna">Varna</option>
                        <option value="stuttgart">Stuttgart</option>
                    </select>
                </div>
                <div>
                    <label for="anstellung"><b>Вид заетост:</b></label>
                    <select id="anstellung" name="anstellung">
                        <option value="stellenanzeige">Всички</option>
                        <option value="voll">Пълно работно време</option>
                        <option value="teil">Непълно работно време</option>
                        <option value="student">Работещ студент</option>
                        <option value="azubi">Стажант</option>
                    </select>
                </div>
                <div>
                    <label for="taetigkeit"><b>Позиция:</b></label>
                    <select id="taetigkeit" name="taetigkeit">
                        <option value="stellenanzeige">Всички</option>
                        <option value="azubi">Стажант</option>
                        <option value="systemplaner">System Planner</option>
                        <option value="fachplaner">Specialist Planner</option>
                        <option value="projektleiter">Ръководител Проекти</option>
                        <option value="fuehrungspersonal">мениджър</option>
                        <option value="assistenz">Асистент</option>
                        <option value="hr">Човешки ресурси</option>
                        <option value="marketing">Маркетинг, Социални медии</option>
                    </select>
                </div>
                <div>
                    <button onclick="filterApply()"><b>Приложи филтър</b></button>
                </div>
            </div>
            <div class="Stellen">
                {% for item in data %}
                <div class="stellenanzeige {{item.Tags}}">
                    <div class="Stellenname">
                        <a href="/en/Karriere/{{item.Name[:-7]}}">
                            <h3>{{item.Name}}</h3>
                        </a>
                    </div>
                    <div class="Standorte">
                        <p>{{item.Standort}}</p>
                    </div>
                    <div class="SButton">
                        <a href="/en/Karriere/{{item.Name[:-7]}}#KarriereFormular">Jetzt bewerben</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include footer %}
</body>

</html>