<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BAE.css">
    <link rel="icon" href="/Logo/Rauten BAE.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>BAE GROUP</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/BAE.js"></script>
</head>

<body>
    <copyright-bae></copyright-bae>

    <!-- Hier ist die Hauptseite-->
    <div class="Hauptseite">



        <menu-bar></menu-bar>


        <div id="datenschutz" class="ContainerDatenschutz">
            <div class="Datenschutz-container">

                <h1>Data protection.</h1>

                <div class="ContainerEinsDatenschutz">
                    <div class="containerDatenschutz1">

                        <h2>1. Data protection at a glance</h2>
                        <p>The following notes provide a simple overview of what is happening with your
                            personal data happens when you visit this website. Personal Data
                            is all data with which you can be personally identified. Detailed
                            Information on the subject of data protection can be found in our website listed below this
                            text
                            Data protection.</p>

                        <h3>Who is responsible for data collection on this website?</h3>
                        <p>Data processing on this website is carried out by the website operator. Whose
                            You can find contact details in the “Note on the responsible body” section in this
                            See data protection declaration.</p>

                        <h3>How do we collect your data?</h3>
                        <p>On the one hand, your data is collected when you provide it to us. Here it can
                            e.g. This could, for example, be data that you enter into a contact form. Other data will be
                            automatically or after your consent when you visit the website through our IT systems
                            recorded. These are primarily technical data (e.g. Internet browser, operating system or
                            Time of page views). The data is collected automatically as soon as you enter this website.
                        </p>

                        <h3>What do we use your data for?</h3>
                        <p>Some of the data is collected to ensure that the website is provided error-free
                            guarantee. Other data may be used to analyze your user behavior.</p>

                        <h3>What rights do you have regarding your data?</h3>
                        <p>You have the right to obtain information about the origin, recipient and purpose free of
                            charge at any time
                            to receive your stored personal data. You also have a right to
                            to request correction or deletion of this data. If you give your consent to
                            If you have given your consent to data processing, you can revoke this consent at any time
                            in the future
                            withdraw. You also have the right, under certain circumstances, to request restrictions
                            to request processing of your personal data. Furthermore, you have one
                            Right to lodge a complaint with the responsible supervisory authority. About this and other
                            questions about
                            You can contact us at any time regarding data protection issues.</p>

                        <h3>Analytics and Third Party Tools</h3>
                        <p>When you visit this website, your surfing behavior can be statistically evaluated. The
                            This happens primarily with so-called analysis programs. Detailed information about these
                            Analysis programs can be found in the following data protection declaration.</p><br>

                        <h2>2. Hosting </h2>

                        <p>
                            The personal data collected on this website is stored on the servers
                            stored by a host/hosters. This can be v. a. about IP addresses,
                            Contact requests, meta and communication data, contract data, contact details, names,
                            Website access and other data generated via a website.<br><br>
                            The hosting is carried out for the purpose of fulfilling the contract with our potential and
                            existing customers (Art. 6 Para. 1 lit. b GDPR) and in the interest of secure, fast
                            and efficient provision of our online offering by a professional provider
                            (Art. 6 para. 1 lit. f GDPR). If appropriate consent has been requested,
                            The processing takes place exclusively on the basis of Art. 6 Para. 1 lit. a GDPR and §
                            25 Paragraph 1 TTDSG, insofar as consent requires the storage of cookies or access to them
                            Information in the user's end device (e.g. device fingerprinting) within the meaning of the
                            TTDSG
                            includes. Consent can be revoked at any time.<br>
                            Our host(s) will only process your data to the extent necessary for fulfillment
                            is necessary for its performance obligations and our instructions regarding this data
                            follow.<br>

                        </p>

                        <h2>3. General information and mandatory information</h2>
                        <h3>Data protection</h3>

                        <p>
                            The operators of these sites take the protection of your personal data very seriously. We
                            treat your personal data confidentially and in accordance with the law
                            Data protection regulations and this data protection declaration.<br><br>
                            When you use this website, various personal data is collected.
                            Personal data is data that can be used to personally identify you. The
                            This data protection declaration explains what data we collect and why we use it
                            to use. It also explains how and for what purpose this happens.<br><br>
                            We would like to point out that data transmission on the Internet (e.g. during communication
                            via email) may have security gaps. Complete protection of data from this
                            Access by third parties is not possible.
                        </p>

                        <h3>Note on the responsible body</h3>

                        <p>
                            The responsible body for data processing on this website is: <br><br>

                            BAE GmbH<br>
                            Raststraße 20<br>
                            96450 Coburg<br>

                            Telephone: 09561 / 9769983 <br>
                            E-Mail: office@b-a-e.eu <br><br>

                            The responsible body is the natural or legal person, alone or jointly
                            with others about the purposes and means of processing personal data (e.g.
                            Names, email addresses, etc.) decides. <br></p>

                        <h3>Storage period</h3>
                        <p>Unless a specific storage period has been stated within this data protection declaration,
                            Your personal data will remain with us until the purpose for data processing
                            omitted. If you make a legitimate request for deletion or consent to
                            If you revoke data processing, your data will be deleted unless we do otherwise legally
                            have permissible reasons for storing your personal data (e.g. tax purposes
                            or commercial law retention periods); in the latter case, deletion takes place
                            after these reasons no longer apply.</p>

                        <h3>General information on the legal basis for data processing on this website</h3>
                        <p>If you have consented to data processing, we will process your data
                            personal data based on Art. 6 Para. 1 lit. a GDPR or Art. 9 Para. 2 lit.
                            a GDPR, provided that special data categories are processed in accordance with Art. 9 Para.
                            1 GDPR. In the
                            In case of express consent to the transfer of personal data
                            In third countries, data processing is also carried out on the basis of Article 49 Paragraph
                            1 Letter a
                            GDPR. If you are in the storage of Cookies oder in den Zugriff auf Informationen in
                            Ihr Endgerät (z. B. via Device-Fingerprinting) eingewilligt haben, erfolgt die
                            Datenverarbeitung zusätzlich auf Grundlage von § 25 Abs. 1 TTDSG. Die Einwilligung ist
                            jederzeit widerrufbar. Sind Ihre Daten zur Vertragserfüllung oder zur Durchführung
                            vorvertraglicher Maßnahmen erforderlich, verarbeiten wir Ihre Daten auf Grundlage des Art. 6
                            Abs. 1 lit. b DSGVO. Des Weiteren verarbeiten wir Ihre Daten, sofern diese zur Erfüllung
                            einer rechtlichen Verpflichtung erforderlich sind auf Grundlage von Art. 6 Abs. 1 lit. c
                            DSGVO. Die Datenverarbeitung kann ferner auf Grundlage unseres berechtigten Interesses nach
                            Art. 6 Abs. 1 lit. f DSGVO erfolgen. Über die jeweils im Einzelfall einschlägigen
                            Rechtsgrundlagen wird in den folgenden Absätzen dieser Datenschutzerklärung informiert.</p>

                        <h3>Data Protection Officer</h3>
                        <p>
                            We have appointed a data protection officer.<br><br>
                            <b>Jürgen Kerscher</b><br>
                            Raststraße 20<br>
                            96450 Coburg<br>

                            Telephone: 09561 / 9769983 <br>
                            E-Mail: office@b-a-e.eu <br><br>
                        </p>

                        <h3>Recipients of personal data</h3>
                        <p>
                            As part of our business activities, we work with various external bodies
                            together. This sometimes involves the transmission of personal data to them
                            external bodies required. We only pass on personal data to external parties
                            further if this is necessary as part of the performance of a contract, if we are legally
                            required to do so
                            are obliged to do this (e.g. passing on data to tax authorities) if we are a
                            have a legitimate interest in the disclosure pursuant to Art. 6 Para. 1 lit. f GDPR or if
                            another legal basis allows the data to be passed on. When using
                            We only provide data processors with our customers' personal data on the basis of one
                            valid contract for order processing. In case of joint processing
                            a contract for joint processing is concluded.<br>
                            The company is certified according to the “EU-US Data Privacy Framework”
                            (DPF). The DPF is an agreement between the European Union and the USA that...
                            Compliance with European data protection standards when processing data in the USA
                            should ensure. Every company certified according to the DPF undertakes to do so
                            Comply with data protection standards. Please contact the provider for further information
                            under the following link:
                            https://www.dataprivacyframework.gov/s/participant-search/participant-detail?contact=true&id=a2zt0000000KzNaAAK&status=Active
                        </p>

                        <h3>Revocation of your consent to data processing</h3>
                        <p>Many data processing operations are only possible with your express consent. She
                            can revoke consent that has already been given at any time. The legality of the until
                            The data processing carried out for the purpose of revocation remains unaffected by the
                            revocation.</p>

                        <h3>Right to object to data collection in special cases and to direct advertising
                            (Art. 21 DSGVO)</h3>
                        <p>
                            If the data processing is based on ART. 6 ABS. 1 LITER. E or F GDPR takes place,
                            You have the right at any time, for reasons arising from your particular situation,
                            to object to the processing of your personal data; this is also valid
                            for profiling based on these provisions. The respective legal basis
                            on which processing is based can be found in this data protection declaration. If you
                            If you object, we will no longer use your affected personal data
                            process unless we have compelling legitimate reasons for processing
                            prove that your interests, rights and freedoms outweigh the processing
                            serves to monetize, exercise or defend legal claims (objection according to
                            Article 21 ABS. 1 GDPR).<br>
                            If your personal data is processed to carry out direct advertising, you have
                            the right to object at any time to the processing of personal data concerning you
                            to insert data for the purpose of such advertising; This also applies to profiling, as far
                            as it goes
                            associated with such direct advertising. If you object, theirs will be
                            You will no longer use personal data for direct advertising purposes
                            (Widerspruch nach ART. 21 ABS. 2 DSGVO).
                        </p>

                        <h3>Right to lodge a complaint with the responsible supervisory authority</h3>
                        <p>In the event of violations of the GDPR, those affected have the right to lodge a complaint
                            with one
                            Supervisory authority, in particular in the Member State of your habitual residence
                            workplace or the location of the alleged violation. The right to lodge a complaint exists
                            without prejudice to any other administrative or judicial remedies.</p>

                        <h3>Right to data portability</h3>
                        <p>
                            You have the right to receive data that we collect based on your consent or in fulfillment
                            of a request
                            Process the contract automatically, to yourself or to a third party in a common,
                            in machine-readable format. Unless you transfer the data directly
                            If you request data to be sent to another person responsible, this will only be done to the
                            extent that it is technically feasible
                            is.
                        </p>

                        <h3>Information, correction and deletion</h3>
                        <p>You have the right to do so at any time within the framework of the applicable legal
                            provisions
                            Free information about your stored personal data, their origin and
                            Recipient and the purpose of data processing and, if applicable, a right to correction or
                            Deletion of this data. This and other questions on the subject of personal data
                            you can contact us at any time.</p>

                        <h3> Restriction of processing</h3>

                        <p>You have the right to restrict the processing of your personal data
                            demand. You can contact us at any time about this. The right to restrict the
                            Processing exists in the following cases:<br><br>

                            If you dispute the accuracy of your personal data stored by us,
                            We usually need time to check this. For the duration of the exam you have
                            the right to restrict the processing of your personal data
                            demand.<br>
                            If the processing of your personal data was/is occurring unlawfully, you may
                            You request the restriction of data processing instead of deletion.
                            If we no longer need your personal data but you want to use it to exercise your personal
                            data,
                            If you need to defend or assert legal claims, you have the right instead
                            deletion restricts the processing of your personal data
                            demand.<br>
                            If you have lodged an objection in accordance with Article 21 Para. 1 GDPR, a consideration
                            must be made
                            between your interests and ours. As long as it is not yet certain
                            whose interests prevail, you have the right to restrict the processing of your data
                            to request personal data.<br>

                            If you have restricted the processing of your personal data, you may do so
                            Data -apart from their storage -only with your consent or for
                            Assertion, exercise or defense of legal claims or to protect rights
                            another natural or legal person or for reasons of important importance
                            processed in the public interest of the European Union or a Member State
                            become.<br></p>

                        <h3>SSL or TLS encryption</h3>
                        <p>This site uses confidential data for security reasons and to protect transmissions
                            Content, such as orders or inquiries, that you send to us as the site operator
                            send, SSL or TLS encryption. You can recognize an encrypted connection
                            that the address bar of the browser changes from “http://” to “https://” and that
                            Lock icon in your browser line.<br>
                            If SSL or TLS encryption is activated, the data you send to us
                            transmitted, cannot be read by third parties.</p>


                        <h2> 4.Data collection on this website</h2>
                        <h3>Use of cookies</h3>
                        <p>Cookies are text files that contain data from websites or domains visited and from
                            stored in a browser on the user's computer. A cookie serves primarily
                            Line to collect information about a user during or after their visit within
                            of an online offer. The information stored can include, for example:
                            Language settings on a website, the login status, a shopping cart or the location
                            who watched a video. We also include others in the term “cookies”.
                            Technologies that perform the same functions as cookies (e.g. when user information
                            stored using pseudonymous online identifiers, also known as “user IDs”
                            designated)</p>

                        <p>The following cookie types and functions are distinguished:</p>
                        <p><b>Temporary cookies (also: session or session cookies)</b> Temporary cookies are
                            deleted at the latest after a user leaves an online offer and their browser
                            has closed</p>
                        <p><b>Permanente Cookies:</b> Permanent cookies remain even after the browser is closed
                            saved. For example, the login status can be saved or preferred content
                            be displayed directly when the user visits a website again. Likewise, they can
                            Interests of users used to measure reach or for marketing purposes
                            are stored in such a cookie.</p>
                        <p><b>First party cookies</b> First-party cookies are set by us ourselves.</p>
                        <p><b>Third-party cookies</b> Third-party cookies are
                            mainly used by advertisers (so-called third parties) to collect user information
                            process.</p>
                        <p><b>Necessary (also: essential or absolutely necessary) cookies</b> Cookies can be used for
                            one may be absolutely necessary for the operation of a website (e.g. for logins or other
                            to store user input or for security reasons).</p>
                        <p><b>Marketing and personalization cookies</b> Cookies are also usually used in...
                            Used as part of reach measurement and when the interests of a user or
                            his behavior (e.g. viewing certain content, using functions, etc.).
                            individual websites are stored in a user profile. Such profiles serve to
                            For example, to show users content that corresponds to their potential interests. This
                            The process is also called "tracking", i.e. tracking the potential interests of the
                            referred to as user. If we use cookies or “tracking” technologies, we will inform you
                            We will inform you separately in our data protection declaration or when obtaining one
                            consent.</p>

                        <p><b>Notes on legal bases:</b> On what legal basis do we process your personal data?
                            Processing data using cookies depends on whether we ask you for your consent
                            ask. If this applies and you agree to the use of cookies, this is the case
                            Legal basis for processing your data is your declared consent. Otherwise will
                            the data processed using cookies based on our legitimate interests
                            (e.g. at a business operation of our online offering and its
                            Improvement) processed or if the use of cookies is necessary to our
                            to fulfill contractual obligations.</p>
                        <p><b>Storage period:</b>
                            Unless we provide you with explicit information about the storage period of permanent
                            cookies
                            (e.g. as part of a so-called cookie opt-in), please assume that
                            the storage period can be up to two years.</p>
                        <p><b>General information on revocation and objection (opt-out):</b> Depending on whether
                            processing based on consent or legal permission
                            takes place, you have the opportunity to revoke your consent at any time
                            revoke your consent or allow your data to be processed using cookie technologies
                            object (collectively referred to as “opt-out”). You can have yours
                            First declare your objection using your browser settings, e.g. by
                            You deactivate the use of cookies (which also includes the
                            functionality of our online offering may be restricted). A
                            You can also object to the use of cookies for online marketing purposes
                            using a variety of services, especially in the case of tracking
                            Websites https://optout.aboutads.info and https://www.youronlinechoices.com/
                            be explained. You can also receive further objection information within the framework of the
                            Receive information about the service providers and cookies used.</p>
                        <p><b>Processing of cookie data based on consent:</b> We use
                            Cookie consent management procedure, within the framework of which
                            User consent to the use of cookies, or within the framework of the
                            Processing and providers mentioned in the cookie consent management process
                            can be obtained, managed and revoked by users. This will
                            The declaration of consent is saved so that it is not requested again
                            must and provide evidence of consent in accordance with the legal obligation
                            to be able to. Storage can be done on the server side and/or in a cookie (so-called
                            Opt-in cookies, or using comparable technologies) are carried out in order to do this
                            Consent to be able to assign a user or their device. Subject to
                            Individual information about the providers of cookie management services applies
                            The following information: The duration of storage of the consent can be up to two
                            years. A pseudonymous user identifier is created and included
                            the time of consent, information about the scope of the consent (e.g.
                            which categories of cookies and/or service providers) as well as the browser, system
                            and the device used is stored.</p>
                        <p><b>Types of data processed:</b> Usage data (e.g. websites visited, interest in
                            content, access times), meta/communication data (e.g. device information,
                            IP addresses).</p>
                        <p><b>Affected persons:</b> Users (e.g. website visitors, users of
                            online services).</p>
                        <p><b>Legal basis:</b> Consent (Art. 6 Para. 1 S. 1 lit. a. GDPR), entitled persons
                            Interests (Art. 6 para. 1 sentence 1 lit. f. GDPR).</p>

                        <h3>Server log files</h3>
                        <p>The provider of the pages automatically collects and stores information in this way
                            mentioned server log files, which your browser automatically transmits to us. This
                            are:<br><br>
                            -Browser type and browser version<br>
                            -Operating system used<br>
                            -Referrer URL<br>
                            -Host name of the accessing computer<br>
                            -Time of server request<br>
                            -IP address<br><br>

                            This data will not be merged with other data sources
                            made.<br>
                            This data is collected on the basis of Article 6 Paragraph 1 Letter f GDPR. The
                            The website operator has a legitimate interest in ensuring that the website is technically
                            error-free
                            Presentation and optimization of your website – the server log files must be used for this
                            be recorded.</p>

                        <h3>Contact form</h3>
                        <p>
                            If you send us inquiries using the contact form, your details will be provided
                            the inquiry form including the contact details you provided there
                            Processing the request and storing it with us in case of follow-up questions.
                            We will not pass on this data without your consent.<br>
                            This data is processed on the basis of Article 6 Paragraph 1 Letter b GDPR,
                            if your request is related to the fulfillment of a contract or for
                            Implementation of pre-contractual measures is necessary. In all other cases
                            the processing is based on our legitimate interest in the effective
                            Processing of inquiries addressed to us (Art. 6 Para. 1 lit. f GDPR) or on
                            your consent (Art. 6 Para. 1 lit. a GDPR) if this has been requested; the
                            Consent can be revoked at any time.<br>
                            The data you enter in the contact form will remain with us until you contact us
                            request deletion, revoke your consent to storage or the purpose
                            There is no need for data storage (e.g. after your processing has been completed
                            Inquiry). Mandatory legal provisions – in particular retention periods –
                            stay untouched.<br>
                        </p>

                        <h3>Inquiries by email, telephone or fax</h3>
                        <p>
                            If you contact us by email, telephone or fax, your request will be
                            including all resulting personal data (name, request).
                            Stored and processed by us for the purpose of processing your request. This
                            We will not pass on any data without your consent.<br>
                            This data is processed on the basis of Article 6 Paragraph 1 Letter b GDPR,
                            if your request is related to the fulfillment of a contract or for
                            Implementation of pre-contractual measures is necessary. In all other cases
                            the processing is based on our legitimate interest in the effective
                            Processing of inquiries addressed to us (Art. 6 Para. 1 lit. f GDPR) or on
                            your consent (Art. 6 Para. 1 lit. a GDPR) if this has been requested; the
                            Consent can be revoked at any time.<br>
                            The data you send to us via contact requests will remain with us until
                            You ask us to delete it, revoke your consent to storage or
                            the purpose for data storage no longer applies (e.g. after processing has been completed
                            your request). Mandatory legal provisions – especially statutory ones
                            Retention periods – remain unaffected.
                        </p>

                        <h2>5. Analytics tools and advertising</h2>
                        <h3>Google Analytics</h3>
                        <p>
                            This website uses functions of the web analysis service Google Analytics. provider is
                            Google Ireland Limited (“Google”), Gordon House, Barrow Street, Dublin 4,
                            Ireland.<br>
                            Google Analytics enables the website operator to monitor the behavior of the
                            Analyze website visitors. The website operator receives various options
                            Usage data, such as E.g. page views, length of stay, operating systems used and
                            Origin of the user. This data is sent to the user’s respective device
                            assigned. There is no assignment to a user ID.<br>
                            Furthermore, we can use Google Analytics, among other things. Your mouse and scroll
                            movements
                            and record clicks. Furthermore, Google Analytics uses various methods
                            Modeling approaches to supplement the collected data sets and sets
                            Machine learning technologies in data analysis.<br>
                            Google Analytics uses technologies that enable user recognition
                            Enable purposes for analyzing user behavior (e.g. cookies or
                            Device fingerprinting). The information collected by Google about usage
                            This website is usually transferred to a Google server in the USA
                            and saved there.<br>
                            The use of this service is based on your consent in accordance with Art. 6
                            Paragraph 1 lit. a GDPR and Section 25 Paragraph 1 TTDSG. Consent is available at any time
                            revocable.<br>
                            Data transfer to the USA is based on the standard contractual clauses
                            Supported by the EU Commission. Details can be found here:
                            https://privacy.google.com/businesses/controllerterms/mccs/.<br>
                            The company is certified according to the “EU-US Data Privacy
                            Framework” (DPF). The DPF is an agreement between the European Union and
                            the USA, which ensures compliance with European data protection standards
                            to ensure data processing in the USA. Each DPF certified
                            Companies are committed to complying with these data protection standards. More
                            You can obtain information about this from the provider using the following link:
                            https://www.dataprivacyframework.gov/s/participant-search/participant-detail?contact=true&id=a2zt000000001L5AAI&status=Active
                        </p>
                        <h3>Browser Plugin</h3>
                        <p>
                            SYou can prevent Google from collecting and processing your data by
                            Download the browser plugin available at the following link and
                            Install: https://tools.google.com/dlpage/gaoptout?hl=de.<br>
                            You can find more information about how Google Analytics handles user data in the
                            Google privacy policy:
                            https://support.google.com/analytics/answer/6004245?hl=de.
                        </p>


                        <h3>Order processing</h3>
                        <p>We have concluded an order processing contract with Google and use this
                            the strict requirements of the German data protection authorities when using Google
                            Analytics completely.</p>

                        <h2>6. Plugins und Tools</h2>
                        <p>This site uses so-called Google fonts for the uniform display of fonts
                            Fonts provided by Google. Google Fonts are local
                            Installed. There is no connection to Google servers.
                            For more information about Google Fonts, see
                            https://developers.google.com/fonts/faq and in Google's privacy policy:
                            https://policies.google.com/privacy?hl=de.</p>

                        <h2>7. Audio and video conferences</h2>
                        <h3>Data processing</h3>
                        <p>
                            We rely on others to communicate with our customers
                            Online conference tools. The specific tools we use are below
                            listed. If you contact us via video or audio conference via the Internet
                            communicate, your personal data will be shared between us and the provider
                            recorded and processed using the respective conference tools.
                            The conference tools collect all the data that you provide to use the tools
                            provide/use (email address and/or your telephone number). Further
                            The conference tools process the duration of the conference, start and end (time).
                            Participation in the conference, number of participants and others
                            “Contextual information” related to the communication process (metadata).
                            Furthermore, the provider of the tool processes all technical data that is used for
                            processing of online communication are required. This includes in particular
                            IP addresses, MAC addresses, device IDs, device type, operating system type and version,
                            Client version, camera type, microphone or speaker and the type of connection.
                            If content is exchanged, uploaded or otherwise within the tool
                            These are also provided on the tool provider's servers
                            saved. Such content includes, in particular, cloud recordings, chat/
                            Instant messages, voicemails, uploaded photos and videos, files, whiteboards
                            and other information shared while using the Service.
                            Please note that we do not have full control over the
                            data processing operations of the tools used. Adjust our options
                            depends largely on the corporate policy of the respective provider. More
                            Information on data processing by the conference tools can be found here
                            Data protection declarations of the tools used, which we provide below this text
                            have listed.
                        </p>
                        <h3>Purpose and legal basis</h3>
                        <p>The conference tools are used to communicate with prospective or existing participants
                            to communicate with contractual partners or to provide certain services to our customers
                            to offer (Art. 6 para. 1 lit. b GDPR). The use of the tools also serves
                            the general simplification and acceleration of communication with us or
                            our company (legitimate interest within the meaning of Art. 6 Para. 1 lit. f
                            GDPR). If consent has been requested, this will be used
                            relevant tools based on this consent; consent is available at any time
                            revocable with effect for the future.</p>

                        <h3>Storage period</h3>
                        <p>The data we collect directly via the video and conference tools
                            deleted from our systems as soon as you request us to delete your
                            Revoke consent to storage or the purpose for data storage
                            omitted. Saved cookies remain on your device until you delete them.
                            Mandatory statutory retention periods remain unaffected.
                            The storage period of your data is determined by the operators of the conference tools
                            We have no influence if data is stored for our own purposes. For details on this
                            Please find out more directly from the operators of the conference tools.</p>

                        <h3>Eingesetzte Konferenz-Tools</h3>
                        <p>
                            We use Microsoft Teams. The provider is Microsoft Ireland Operations Limited,
                            One Microsoft Place, South County Business Park, Leopardstown, Dublin 18, Ireland.
                            Details on data processing can be found in Microsoft's data protection declaration
                            Teams: https://privacy.microsoft.com/de-de/privacystatement.<br>
                            The company is certified according to the “EU-US Data Privacy
                            Framework” (DPF). The DPF is an agreement between the European Union and
                            the USA, which ensures compliance with European data protection standards
                            to ensure data processing in the USA. Each DPF certified
                            Companies are committed to complying with these data protection standards. More
                            You can obtain information about this from the provider using the following link:
                            https://www.dataprivacyframework.gov/s/participant-search/participant-detail?contact=true&id=a2zt0000000KzNaAAK&status=Active
                        </p>

                        <h2>8. Eigene Dienste</h2>

                        <h3>Handling applicant data</h3>
                        <p>We offer you the opportunity to apply to us (e.g. by email,
                            by post or via the online application form). Below we will inform you about
                            Scope, purpose and use of your data collected as part of the application process
                            personal data. We assure that the collection, processing and use
                            Your data in accordance with applicable data protection law and all others
                            Legal regulations are complied with and your data is treated as strictly confidential
                            become.</p>

                        <h3>Scope and purpose of data collection</h3>
                        <p>If you send us an application, we will process your associated application
                            personal data (e.g. contact and communication data,
                            Application documents, notes from job interviews, etc.), as far as this
                            required to decide on the establishment of an employment relationship
                            is. The legal basis for this is Section 26 BDSG under German law (initiation of a
                            employment relationship), Art. 6 Para. 1 lit. b GDPR (general
                            Initiation of contract) and – if you have given your consent – ​​Art. 6 Para. 1
                            lit. a GDPR. Consent can be revoked at any time. your personal data
                            Data within our company is only sent to individuals
                            passed on to those involved in processing your application.
                            If the application is successful, the data you submitted will be saved
                            Basis of Section 26 BDSG and Article 6 Paragraph 1 Letter b GDPR for the purpose of
                            implementation
                            of the employment relationship is stored in our data processing systems.
                        </p>

                        <h3>Data retention period</h3>
                        <p>If we are unable to make you a job offer, you decline a job offer
                            or withdraw your application, we reserve the right to do so
                            transmitted data based on our legitimate interests (Art. 6 Para. 1
                            lit. f GDPR) up to 6 months from the end of the application process (rejection
                            or withdrawal of the application) to be kept with us. Then they will
                            Data deleted and the physical application documents destroyed. The storage
                            serves in particular for evidentiary purposes in the event of a legal dispute. If visible
                            is that the data will be required after the 6 month period has expired (e.g.
                            due to an impending or pending legal dispute), deletion only takes place
                            instead if the purpose for further storage no longer applies.<br>
                            Longer storage can also take place if you have an appropriate one
                            You have given your consent (Art. 6 Para. 1 lit. a GDPR) or if legal
                            Retention obligations conflict with deletion.</p>

                        <h3>Inclusion in the applicant pool</h3>
                        <p>If we do not make you a job offer, it may be possible to place you in
                            to add to our applicant pool. In the event of admission, all documents and
                            Information from the application is transferred to the applicant pool to help you in the
                            event of
                            to contact suitable vacancies.<br>
                            Admission to the applicant pool is based solely on you
                            express consent (Art. 6 Para. 1 lit. a GDPR). The submission of the
                            Consent is voluntary and has no connection to the ongoing
                            Application process. The person concerned can revoke their consent at any time. In
                            In this case, the data will be irrevocably deleted from the applicant pool, provided that
                            There are no legal reasons for retention.<br>
                            The data from the applicant pool will be sent no later than two years after the issuance of
                            the application
                            Consent irrevocably deleted.</p>

                        <h3>Our social media presence</h3>
                        <p>
                            This data protection declaration applies to the following social media sites<br><br>
                            - https://www.facebook.com/baegroup/<br>
                            - https://www.instagram.com/baegroup/<br>
                            - https://www.linkedin.com/baegroup/
                        </p>

                        <h2>Data processing through social networks</h2>
                        <p>
                            We maintain publicly accessible social network profiles. The in
                            You can find individual social networks we use below.<br>
                            Social networks such as Facebook, X etc. can usually track your user behavior
                            analyze comprehensively when you use their website or a website with integrated
                            Visit social media content (e.g. like buttons or advertising banners). Through the
                            Visiting our social media presences will reveal numerous data protection-related issues
                            Processing operations triggered. In detail:<br>
                            If you are logged into your social media account and our
                            If you visit a social media presence, the operator of the social media portal can do so
                            Assign a visit to your user account. Your personal data can be found at
                            However, under certain circumstances, it can also be recorded if you are not logged in or
                            have no login
                            Have an account on the respective social media portal. This data collection takes place
                            in this case, for example, via cookies that are stored on your device
                            or by recording your IP address.<br>
                            With the help of the data collected in this way, the operators of the social media portals
                            can
                            Create user profiles in which your preferences and interests are stored.
                            In this way, you can receive interest-based advertising both inside and outside the website
                            respective social media presence. If you have an account with
                            respective social network, interest-based advertising can be carried out on all of them
                            devices on which you are logged in or were logged in.<br>
                            Please also note that we do not carry out all processing processes on the
                            social media portals. Depending on the provider, it may be possible
                            further processing operations by the operators of the social media portals
                            be performed. Details can be found in the terms of use and
                            Data protection regulations of the respective social media portals.
                        </p>

                        <h3>Legal basis</h3>
                        <p>Our social media presence should have as comprehensive a presence as possible on the Internet
                            guarantee. This is a legitimate interest in the sense of
                            Art. 6 Paragraph 1 Letter f GDPR. Those initiated by social networks
                            Analysis processes may be based on different legal bases that vary from the
                            The operators of the social networks must be provided (e.g. consent in the sense of
                            Art. 6 Paragraph 1 Letter a GDPR).</p>

                        <h3>Responsible person and assertion of rights</h3>
                        <p>If you visit one of our social media sites (e.g. Facebook), we are
                            together with the operator of the social media platform for this visit
                            responsible for the data processing operations triggered. You can exercise your rights
                            (information, correction, deletion, restriction of processing,
                            Data portability and complaints) basically both vs. us as well as against dem
                            The operator of the respective social media portal (e.g. compared to Facebook) applies
                            do.<br>
                            Please note that despite the shared responsibility with the
                            Social media portal operators do not have full influence on the
                            data processing operations of the social media portals. Our possibilities
                            are largely based on the corporate policy of the respective provider.
                        </p>

                        <h3>Storage period</h3>
                        <p>The data we collect directly via our social media presence is used by
                            deleted from our systems as soon as you request us to delete it, your consent
                            for storage can be revoked or the purpose for data storage no longer applies.
                            Saved cookies remain on your device until you delete them. Compelling
                            Legal provisions – especially retention periods – remain unaffected.
                            The storage period of your data is determined by the operators of the social networks
                            We have no influence if data is stored for our own purposes. For details on this
                            Please find out more directly from the operators of the social networks (e.g.
                            in their data protection declaration, see below).</p>

                        <h3>Your rights</h3>
                        <p>You have the right to obtain information about the origin, recipient and information free of
                            charge at any time
                            Purpose to obtain your personal data stored. It also suits you
                            a right to object, to data portability and a right to complain to the
                            responsible supervisory authority. You can also request correction, blocking,
                            Deletion and, in certain circumstances, restriction of processing of your data
                            request personal data.</p>

                        <h2>Social networks in detail</h2>
                        <h3>Facebook</h3>
                        <p>
                            We have a profile on Facebook. The provider of this service is Meta
                            Platforms Ireland Limited, 4 Grand Canal Square, Grand Canal Harbour, Dublin 2,
                            Ireland (hereinafter Meta). According to Meta, the data collected is also used in...
                            the USA and other third countries.

                            We have a shared processing agreement with Meta (Controller
                            Addendum) closed. This agreement specifies for which
                            We or Meta are responsible for data processing operations if you use ours
                            Visit Facebook page. You can view this agreement at the following link:
                            https://www.facebook.com/legal/terms/page_controller_addendum.<br>
                            You can adjust your advertising settings independently in your user account.
                            To do this, click on the following link and log in:
                            https://www.facebook.com/settings?tab=ads.<br>

                            Data transfer to the USA is based on the standard contractual clauses
                            Supported by the EU Commission. Details can be found here:
                            https://www.facebook.com/legal/EU_data_transfer_addendum and
                            https://de-de.facebook.com/help/566994660333381.<br>

                            Details can be found in Facebook's privacy policy:
                            https://www.facebook.com/about/privacy/.<br>

                            The company is certified according to the “EU-US Data Privacy
                            Framework” (DPF). The DPF is an agreement between the European Union and
                            the USA, which ensures compliance with European data protection standards
                            to ensure data processing in the USA. Each DPF certified
                            Companies are committed to complying with these data protection standards. More
                            You can obtain information about this from the provider using the following link:
                            https://www.dataprivacyframework.gov/s/participant-search/participant-detail?contact=true&id=a2zt0000000GnywAAC&status=Active
                        </p>

                        <h3>Instagram</h3>
                        <p>
                            We have a profile on Instagram. The provider of this service is Meta
                            Platforms Ireland Limited, 4 Grand Canal Square, Grand Canal Harbour, Dublin 2,
                            Ireland.

                            Data transfer to the USA is based on the standard contractual clauses
                            Supported by the EU Commission. Details can be found here:
                            https://www.facebook.com/legal/EU_data_transfer_addendum,
                            https://privacycenter.instagram.com/policy/and
                            https://de-de.facebook.com/help/566994660333381.<br>
                            Details on how they handle your personal data can be found here
                            Instagram privacy policy: https://privacycenter.instagram.com/policy/.<br>

                            The company is certified according to the “EU-US Data Privacy
                            Framework” (DPF). The DPF is an agreement between the European Union and
                            the USA, which ensures compliance with European data protection standards
                            to ensure data processing in the USA. Each DPF certified
                            Companies are committed to complying with these data protection standards. More
                            You can obtain information about this from the provider using the following link:
                            https://www.dataprivacyframework.gov/s/participant-search/participant-detail?contact=true&id=a2zt0000000GnywAAC&status=Active
                        </p>

                        <h3>Linkedin</h3>
                        <p>
                            We have a profile on LinkedIn. The provider is LinkedIn Ireland
                            Unlimited Company, Wilton Plaza, Wilton Place, Dublin 2, Ireland. LinkedIn used
                            Advertising cookies.

                            If you would like to deactivate LinkedIn advertising cookies, please use the following
                            Link: https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out.<br>
                            Data transfer to the USA is based on the standard contractual clauses
                            Supported by the EU Commission. Details can be found here:
                            https://www.linkedin.com/legal/l/dpa and
                            https://www.linkedin.com/legal/l/eu-sccs.<br>

                            Details on how they handle your personal data can be found here
                            LinkedIn privacy policy:https://www.linkedin.com/legal/privacy-policy.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>