<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <title>BAE GROUP</title>
    <script src="{{ url_for('static', filename='BAE.js') }}"></script>
</head>

<body>
    {% include menu_bar%}

    <!-- Hier ist die Hauptseite-->
    <div class="Hauptseite">
        <div id="impressum" class="ContainerImpressum">
            <div class="Impressum-container">

                <h1>Imprint.</h1>

                <div class="ContainerEinsImpressum">
                    <div class="containerImpressum1">
                        <h2>Information according to § 5 TMG:</h2>
                        <h3>BAE GmbH</h3>
                        <p>
                            Raststraße 20<br>
                            96450 Coburg<br><br>

                            <b>Represented by:</b><br>
                            Jürgen Kerscher<br>
                            Michael Hölzle<br><br>

                            <b>Register entry:</b><br>
                            Entry in the commercial register.<br>
                            Register court: Local court Coburg<br>
                            Register number: HRB 6357<br><br>

                            <b>Value added tax:</b><br>
                            Sales tax identification number according to §27 a sales tax law:<br>
                            DE 327804364<br><br>

                            <b>Contact</b>:<br>
                            Telephone: +49 9561 97 69 983<br>
                            E-Mail: office@b-a-e.eu<br><br>

                        </p>
                        <h3>BAE Frankfurt GmbH</h3>
                        <p>
                            Berner Straße 119<br>
                            60437 Frankfurt am Main<br><br>

                            <b>Represented by:</b><br>
                            Björn Diedenhöfer<br>
                            Jürgen Kerscher<br>
                            Michael Hölzle<br><br>

                            <b>Register entry:</b><br>
                            Entry in the commercial register.<br>
                            Register court: Local court Frankfurt <br>
                            Register number: HRB 133358<br><br>

                            <b>Contact</b>:<br>
                            Telephone: +49 69 945 99 117<br>
                            E-Mail: frankfurt@b-a-e.eu<br><br><br>

                            <b>Contact person:</b><br>
                            Björn Diedenhöfer (socialMedia@b-a-e.eu)<br><br>

                            <b>Responsible for content according to §10 paragraph 3 MDStV:</b><br>
                            Björn Diedenhöfer (socialMedia@b-a-e.eu)
                        </p>

                        <h2>Dispute resolution:</h2><br><br>
                        <p>
                            We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.<br><br>

                            <b>Liability for content:</b><br>
                            As a service provider, we are responsible for our own content on these pages in accordance with Section 7 (1) TMG (German Telemedia Act) and general legislation. According to §§ 8 to 10 TMG, however, we as a service provider are not obliged to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity.<br><br>

                            <b>Liability for links:</b><br>
                            Our website contains links to external websites of third parties over whose content we have no influence.<br><br>

                            <b>Copyright:</b><br>
                            The content and works created by the site operators on these pages are subject to German copyright law.<br><br>

                            <b>Infringement of property rights:</b><br>
                            Please contact us immediately if you believe that our offers or our website infringe your intellectual property rights.<br><br>

                            We assure you that we will immediately remove or correct the rightfully objectionable passages. The involvement of legal counsel is therefore not necessary. The involvement of a lawyer, which leads to a chargeable acceptance, does not correspond to the real or presumed will of the owner of the property rights<br><br>

                            Any costs incurred without prior contact and without an attempt to reach an amicable settlement will be rejected in full and may trigger a counterclaim for breach of the aforementioned provisions.<br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>