<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BAE.css">
    <link rel="icon" href="/Logo/Rauten BAE.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>BAE GROUP</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/BAE.js"></script>
</head>

<body>


    <copyright-bae></copyright-bae>


    <!-- Desktop Navigation Menu -->
    <menu-bar></menu-bar>



    <!-- Hier ist die Hauptseite-->
    <div class="Hauptseite">



        <div id="impressum" class="ContainerImpressum">
            <div class="Impressum-container">

                <h1>Imprint.</h1>

                <div class="ContainerEinsImpressum">
                    <div class="containerImpressum1">
                        <h2>According to § 5 TMG:</h2>
                        <h3>BAE GmbH</h3>
                        <p>Raststraße 20<br>
                            96450 Coburg<br><br>

                            <b>Represented by:</b><br>
                            Jürgen Kerscher<br>
                            Michael Hölzle<br><br>

                            <b>Register entry:</b><br>
                            Registration in the commercial register.<br>
                            Registry court: Amtsgericht Coburg<br>
                            Register number: HRB 6357<br><br>

                            <b>Value added tax:</b><br>
                            VAT identification number according to §27 a Umsatzsteuergesetz:<br>
                            DE 327804364<br><br>

                            <b>Contact</b>:<br>
                            Telephone: +49 9561 97 69 983<br>
                            E-Mail: office@b-a-e.eu<br><br>

                        <h3>BAE Frankfurt GmbH</h3>
                        <p>Berner Straße 119<br>
                            60437 Frankfurt am Main<br><br>

                            <b>Represent durch:</b><br>
                            Björn Diedenhöfer<br>
                            Jürgen Kerscher<br>
                            Michael Hölzle<br><br>

                            <b>Register entry:</b><br>
                            Registration in the commercial register.<br>
                            Registry court: Amtsgericht Frankfurt <br>
                            Register number: HRB 133358<br><br>

                            <b>Contact</b>:<br>
                            Telephone: +49 69 945 99 117<br>
                            E-Mail: frankfurt@b-a-e.eu<br><br><br>

                            <b>Contact person:</b><br>
                            Björn Diedenhöfer (socialMedia@b-a-e.eu)<br><br>

                            <b>Responsible for content according to §10 Absatz 3 MDStV:</b><br>
                            Björn Diedenhöfer (socialMedia@b-a-e.eu)
                        </p>

                        <h2>Dispute resolution:</h2><br><br>
                        <p>We are not willing or obliged to participate in dispute resolution proceedings before a
                            to participate in the consumer arbitration board.<br>
                            <br>

                            <b>Liability for content:</b><br>
                            As a service provider, we are responsible for our own content on these pages in accordance with Section 7 Paragraph 1 TMG
                            responsible for general laws. According to Sections 8 to 10 TMG, we are a service provider
                            However, we are not obliged to monitor transmitted or stored third-party information
                            or to investigate circumstances that indicate illegal activity.<br><br>

                            <b>Liability for links:</b><br>
                            Our offer contains links to external third-party websites, whose contents we do not have access to
                            Have influence.<br><br>

                            <b>Copyright:</b><br>
                            The content and works on these pages created by the site operators are subject to this
                            German copyright law.<br><br>

                            <b>Infringement of property rights:</b><br>
                            We ask you to contact us immediately if you believe that our
                            Offers or our website violates your intellectual property rights.<br><br>

                            We assure you that we will immediately remove or correct any passages that are rightly objectionable
                            correct. It is therefore not necessary to involve legal counsel. The
                            involvement of a lawyer, which leads to a fee-based acceptance
                            not the real or presumed will of the property right holder<br><br>
                            
                            Costs incurred without prior contact and without attempting to reach agreement
                            Regulations will be rejected in their entirety and, if necessary, a counterclaim will be launched
                            Violation of the aforementioned provisions.<br><br>

                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>