<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body id="home-page">
    {% include menu_bar %}

    <div id="ContainerVideo">
        <video id="video-background" class="parallax" loop autoplay muted
            poster="{{ url_for('static', filename='Video/Landingpage.jpg') }}">
            <source src="{{ url_for('static', filename='Video/LandingpageBAE.mp4') }}" type="video/mp4">
            <img src="{{ url_for('static', filename='Video/Landingpage.jpg') }}">
        </video>
    </div>
    <div class="Hauptseite">
        <div id="textContainer">
            <div id="textElement1" class="textElement">
                Your Partner For The Building Life Cycle.
            </div>
            <div id="textElement2" class="textElement">
                #TechnischeGebäudeausrüstung #Contracting #ProjectManagement #DigitalSolutions
            </div>
            <div id="textElement3" class="textElement">
                #AssetManagement #PropertyManagement #Generalplanung #InvestmentManagement
            </div>
        </div>


        <div id="ueberuns" class="ContainerUeberuns">
            <h1>About us.</h1>
            <div class="Ueberuns-subcontainer0">
                <p>
                    The BAE GROUP represents a multifaceted group of companies that is comprehensively dedicated to the life cycle of real estate. Our core competencies extend across eight strategic business areas that cover the entire spectrum of the real estate industry. From technical building services, contracting, and project management to digital solutions, asset management, property management, general planning and investment management - the BAE GROUP is a holistic partner for all aspects of your real estate.<br><br>
                    With numerous dedicated employees, we form a dynamic team of real estate specialists covering different perspectives and disciplines. Our experts, be they engineers, technicians, architects, business economists or computer scientists, combine their skills to develop innovative and customized solutions for our clients.<br><br>
                    The BAE GROUP is characterized not only by its wide range of services, but also by its regional presence and global perspective. Our locations in Germany and Eastern Europe enable us to respond flexibly to the needs of our customers and offer customized solutions for every challenge.<br><br>
                </p>
            </div>
        </div>

        <div id="leistungen" class="ContainerLeistungen">
            <h1>Business areas.</h1>

            <div class="geschaeftsfelder-container">

                <div class="geschaeftsfeld">
                    <a href="/en/Geschaeftsfelder/TGA">
                        <img src="{{ url_for('static', filename='Bilder/Gebäudetechnik.jpg') }}"
                            alt="Technische Gebäudeausrüstung">
                        <p>Technical Building Equipment</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/en/Geschaeftsfelder/Contracting">
                        <img src="{{ url_for('static', filename='Bilder/Contracting.jpg') }}" alt="Contracting">
                        <p>Contracting</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/en/Geschaeftsfelder/Projektmanagement">
                        <img src="{{ url_for('static', filename='Bilder/Projektmanagement.jpg') }}"
                            alt="Projektmanagement.jpg">
                        <p>Project Management</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/en/Geschaeftsfelder/DigitalSolutions">
                        <img src="{{ url_for('static', filename='Bilder/DigitalSoluation.jpg') }}"
                            alt="Digital Soluation">
                        <p>Digital Solutions</p>
                    </a>
                </div>


                <div class="geschaeftsfeld">
                    <a href="/en/Geschaeftsfelder/AssetManagement">
                        <img src="{{ url_for('static', filename='Bilder/Assetmanagement.jpg') }}"
                            alt="Assetmanagement.jpg">
                        <p>Asset Management</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/en/Geschaeftsfelder/PropertyManagement">
                        <img src="{{ url_for('static', filename='Bilder/Propertymanagement.jpg') }}"
                            alt="Propertymanagement">
                        <p>Property Management</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/en/Geschaeftsfelder/Generalplanung">
                        <img src="{{ url_for('static', filename='Bilder/Generalplanung.jpg') }}" alt="Generalplanung">
                        <p>General Planning</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/en/Geschaeftsfelder/InvestmentManagement">
                        <img src="{{ url_for('static', filename='Bilder/Investmentmanagement.jpg') }}"
                            alt="Investmentmanagement">
                        <p>Investment Management</p>
                    </a>
                </div>
            </div>
        </div>

        <div id="standorte" class="ContainerStandorte">
            <h1>Locations.</h1>

            <div class="standorte-container">

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Frankfurt.jpg') }}" alt="Frankfurt">
                    </div>
                    <p>Frankfurt am Main</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Berlin.jpg') }}" alt="Berlin">
                    </div>
                    <p>Berlin</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Muenchen.jpg') }}" alt="München">
                    </div>
                    <p>Munich</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Stuttgart.jpg') }}" alt="Stuttgart">
                    </div>
                    <p>Stuttgart</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Coburg.jpg') }}" alt="Coburg">
                    </div>
                    <p>Coburg</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Bamberg.jpg')}}" alt="Bamberg">
                    </div>
                    <p>Bamberg</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Deggendorf.jpg')}}" alt="Deggendorf">
                    </div>
                    <p>Deggendorf</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Sofia.jpg')}}" alt="Sofia">
                    </div>
                    <p>Sofia</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Varna.jpg')}}" alt="Varna">
                    </div>
                    <p>Varna</p>
                </div>
            </div>
        </div>

        <div id="kontakte" class="ContainerKontakt">
            <div class="Kontakt-container">

                <h1>Kontakt.</h1>
                <div class="Kontakt-subcontainer2 mobile">
                    <div class="Kontakt image-container">
                        <img src="{{ url_for('static', filename='Bilder/MAP_Deutschland.png')}}" alt="Map Deutschland">
                    </div>
                </div>
                <div class="Kontakt-subcontainer1">
                    <h1>Locations in Germany:</h1>
                    <div class="kontakte">
                        <h2>Frankfurt am Main</h2>
                        <p><b>BAE Frankfurt GmbH (Head office)</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Berner Straße 119</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">60437 Frankfurt am Main</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"><span class="icon-text">frankfurt@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"><span class="icon-text">+49 69 945 99 117</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Berlin</h2>

                        <p><b>BAE Frankfurt GmbH, Berlin representative office</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">10409 Berlin</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"> <span class="icon-text">berlin@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"> <span class="icon-text">+49 69 945 99 117</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>München</h2>

                        <p><b>BAE GmbH, Munich branch</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Humboldtstraße 6</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">85609 Munich</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"> <span class="icon-text">office@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"> <span class="icon-text">+49 89 24 41 85 960</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Stuttgart</h2>

                        <p><b>BAE Frankfurt GmbH </b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Hafenbahnstraße 10</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">70327 Stuttgart</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"> <span class="icon-text">stuttgart@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"> <span class="icon-text">+49 69 945 99 117</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Coburg</h2>

                        <p><b>BAE GmbH (Head office)</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Raststraße 20</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">96450 Coburg</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"> <span class="icon-text">office@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"> <span class="icon-text">+49 9561 97 69 983</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Bamberg</h2>

                        <p><b>BAE GmbH, Bamberg branch</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Kirschäckerstraße 27</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">96052 Bamberg</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"><span class="icon-text">office@b-a-e.eu </span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"> <span class="icon-text">+49 9561 97 69 983 </span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Deggendorf</h2>

                        <p><b>BAE GmbH, Deggendorf branch</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Itzlinger Weg 2</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">94469 Deggendorf</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"> <span class="icon-text">office@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"><span class="icon-text"> +49 991 40 22 9830</span></p>
                    </div>
                </div>

                <div class="Kontakt-subcontainer2 desktop">
                    <div class="Kontakt image-container">
                        <img src="{{ url_for('static', filename='Bilder/MAP_Deutschland.png')}}" alt="Map Deutschland">
                    </div>
                </div>

                <div class="Kontakt-subcontainer4 mobile">
                    <div class="Kontakt image-container">
                        <img src="{{ url_for('static', filename='Bilder/MAP_Bulgarien.jpg')}}" alt="Map Bulgarien">
                    </div>
                </div>
                <div class="Kontakt-subcontainer3">
                    <h1>Locations in Bulgaria:</h1>
                    <div class="kontakte">
                        <h2>Sofia</h2>

                        <p><b>BAE OOD (Head office)</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">r.c. Mladost 2, bl. 254, ground
                                floor, office 1</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">1799 Sofia</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"> <span class="icon-text">office@b-a-e.bg</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"><span class="icon-text"> +359 2 416 74 22</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Varna</h2>

                        <p><b>BAE OOD, Varna branch</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"> <span class="icon-text">ulitsa Mois Levi, 28, fl. 4, office 7</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"> <span class="icon-text">9009 Varna</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"> <span class="icon-text">office@b-a-e.bg</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"> <span class="icon-text">+359 887 158 938</span></p>
                    </div>
                </div>

                <div class="Kontakt-subcontainer4 desktop">
                    <div class="Kontakt image-container">
                        <img src="{{ url_for('static', filename='Bilder/MAP_Bulgarien.jpg')}}" alt="Map Bulgarien">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>