<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    {% if not consent %}
    <div id="cookie-banner">
        <h2>🍪 Cookies</h2>

        <p>
            This website uses cookies or similar technologies to improve your browsing experience and provide you with personalized recommendations.
        </p>
        <p>
            By continuing to use our website, you agree to our <a href="/en/datenschutz">privacy policy</a>.
        </p>

        <div>
            <button id="accept-cookies" onclick="accept_cookie(true)"> Accept </button>
            <button id="decline-cookies" onclick="accept_cookie(false)"> Reject </button>
        </div>
    </div>
    {% endif %}

    <div id="copyright">
        BAE-GROUP 2024
        <a href="/en/Impressum" class="impressum">Imprint</a>
        <a href="/en/Datenschutz" class="datenschutz">Data protection</a>
    </div>

    <div id="menuBar" class="desktop-menu">
        <div>
            <button id="hamburgerIcon" type="button" onclick="openMobileMenu()">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <!-- BAEGroup Logo -->
        <div id="logoLink">
            <a href="/en/" onclick="navigateToHomePage()">
                <img id="logo" src="{{ url_for('static', filename='/Logo/BAE_Group_Logo.png') }}"  alt="Logo_BAE_Group">
            </a>
        </div>

        <!-- Elemente in der Leiste  -->
        <div class="menu-links">
            <div><a href="/en/">Home page</a></div>
            <div><a href="/en/#ueberuns">About us</a></div>
            <div id="geschaeftsfelder">
                <a href="/en/#leistungen">Business areas</a>
                <div class="dropdown-content">
                    <div class="dropdown-item"><a href="/en/Geschaeftsfelder/TGA">Technical Building Equipment</a>
                    </div>
                    <div class="dropdown-item"><a href="/en/Geschaeftsfelder/Contracting">Contracting</a></div>
                    <div class="dropdown-item"><a href="/en/Geschaeftsfelder/Projektmanagement">Project Management</a>
                    </div>
                    <div class="dropdown-item"><a href="/en/Geschaeftsfelder/DigitalSolutions">Digital Solutions</a>
                    </div>
                    <div class="dropdown-item"><a href="/en/Geschaeftsfelder/AssetManagement">Asset Management</a>
                    </div>
                    <div class="dropdown-item"><a href="/en/Geschaeftsfelder/PropertyManagement">Property Management</a></div>
                    <div class="dropdown-item"><a href="/en/Geschaeftsfelder/Generalplanung">General Planning</a></div>
                    <div class="dropdown-item"><a href="/en/Geschaeftsfelder/InvestmentManagement">Investment Management</a></div>
                </div>
            </div>
            <div><a href="/en/#standorte">Locations</a></div>
            <div><a href="/en/Referenzen">References</a></div>
            <div><a href="/en/Karriere">Career</a></div>
            <div><a href="/en/#kontakte" class="buttonKontakte">Contact</a></div>
        </div>

        <!-- Icons für LinkedIn, Facebook und Instagram -->
        <div class="social-icons">
            <a href="https://www.linkedin.com/company/baegroup/" target="_blank" title="LinkedIn">
                <img src="{{ url_for('static', filename='/Icons/linkedin.svg') }}"  alt="LinkedIn">
            </a>
            <a href="https://www.xing.com/pages/bae-group" target="_blank" title="xing">
                <img src="{{ url_for('static', filename='/Icons/xing.svg') }}" alt="xing">
            </a>
            <a href="https://www.facebook.com/profile.php?id=61554842673825" target="_blank" title="Facebook">
                <img src="{{ url_for('static', filename='/Icons/facebook.svg') }}"  alt="Facebook">
            </a>
            <a href="https://www.instagram.com/baegroup.eu/" target="_blank" title="linkedin">
                <img src="{{ url_for('static', filename='/Icons/instagram.svg') }}"  alt="instagram">
            </a>
        </div>

        <div id="language" class="desktop">
            <div id="off">
                <a href="/" onclick="set_language('de')">DE</a>
            </div>
            <div id="on">
                <a href="/en/" onclick="set_language('en')">EN</a>
            </div>
        </div>
        <!-- Mobile Navigation Menu -->
        <div id="mobileMenu" class="mobile-menu">
            <div><button id="closeMobileMenu" type="button" onclick="closeMobileMenu()">
                    <i class="fas fa-times"></i></button></div>
            <div><a href="/en/" onclick="closeMobileMenu()">Home page</a></div>
            <div><a href="/en/#ueberuns" onclick="closeMobileMenu()">About us</a></div>
            <div><a href="/en/#leistungen" onclick="closeMobileMenu()">Business areas</a></div>
            <div><a href="/en/#standorte" onclick="closeMobileMenu()">Locations</a></div>
            <div><a href="/en/Referenzen" onclick="closeMobileMenu()">References</a></div>
            <div><a href="/en/Karriere" onclick="closeMobileMenu()">Career</a></div>
            <div><a href="/en/#kontakte" onclick="closeMobileMenu()">Contact</a></div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/company/baegroup/" target="_blank" title="LinkedIn"
                    onclick="closeMobileMenu()">
                    <img src="{{ url_for('static', filename='/Icons/linkedin.svg') }}"  alt="LinkedIn">
                </a>
                <a href="https://www.xing.com/pages/bae-group" target="_blank" title="xing" onclick="closeMobileMenu()">
                    <img src="{{ url_for('static', filename='/Icons/xing.svg') }}" alt="xing">
                </a>
                <a href="https://www.facebook.com/profile.php?id=61554842673825" target="_blank" title="Facebook"
                    onclick="closeMobileMenu()">
                    <img src="{{ url_for('static', filename='/Icons/facebook.svg') }}"  alt="Facebook">
                </a>
                <a href="https://www.instagram.com/baegroup.eu/" target="_blank" title="instagram"
                    onclick="closeMobileMenu()">
                    <img src="{{ url_for('static', filename='/Icons/instagram.svg') }}"  alt="instagram">
                </a>
            </div>
            <div id="language" class="mobile">
                <div id="off">
                    <a href="/" onclick="set_language('de')">DE</a>
                </div>
                <div id="on">
                    <a href="/en/" onclick="set_language('en')">EN</a>
                </div>
            </div>
            <div id="copyright">
                BAE-GROUP 2024 <br>
                <a href="/en/Impressum" class="impressum" onclick="closeMobileMenu()">Imprint</a>
                <a href="/en/Datenschutz" class="datenschutz" onclick="closeMobileMenu()">Data Protection</a>
            </div>
        </div>
    </div>
</body>

</html>