<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>BAE GROUP</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='BAE.js') }}"></script>
</head>

<body>
    {% include menu_bar %}

    <div class="referenzenbild parallax">
        <img src="{{ url_for('static', filename='Bilder/Projekte.jpg') }}">
        <h1>Our projects</h1>
    </div>
    <div class="projektseite">
        <div class="projekttitel">
            <h1>{{ item.Projekt }}</h1>
            <table>
                <tr>
                    <td>Building type:</td>
                    <td>{{ item.Gebaeude }}</td>
                </tr>
                <tr>
                    <td>Project type:</td>
                    <td>{{ item.Projektart }}</td>
                </tr>
                <tr>
                    <td>Line phases:</td>
                    <td>{{ item.LPH }}</td>
                </tr>
                <tr>
                    <td>Plant group:</td>
                    <td>{{ item.Anlagengruppe }}</td>
                </tr>
                <tr>
                    <td>Surface area:</td>
                    <td>{{ item.BGF|format_number }} m²</td>
                </tr>
                {% if item.Gesamtkosten != '' %}
                <tr>
                    <td>Total costs:</td>
                    <td>{{ item.Gesamtkosten|format_number }} €</td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="projektbild">
            <img src="{{ url_for('static', filename='Bilder/Referenzen/'+item.Bild) }}" alt="{{item.Projekt}}">
        </div>
    </div>


</body>