<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BAE.css">
    <link rel="icon" href="/Logo/Rauten BAE.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>BAE GROUP</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/BAE.js"></script>

</head>

<body>
    <menu-bar></menu-bar>
    <copyright-bae></copyright-bae>

    <div class="referenzenbild">
        <h1>Our projects</h1>
    </div>

    <div id="projekte" class="projekte"></div>

    <div class="navigate">
        <button class="prev" onclick="prev()"> ◄ </button>
        <div id="seiten" class="seiten"></div>
        <button class="next" onclick="next()"> ► </button>
    </div>

</body>

</html>