<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}

    <div></div>
    <div>
        <h2>Asset Management.</h2>
        <div>
            <div>
                <p>
                    Das umfassende Management von Vermögenswerten in Gebäuden setzt sich aus zwei entscheidenden Komponenten zusammen: dem technischen Asset Management und dem kaufmännischen Asset Management. Das technische Asset Management konzentriert sich auf die strategische Pflege und Optimierung der physischen Ressourcen im Gebäude, während das kaufmännische Asset Management die finanzielle Dimension dieser Vermögenswerte in den Fokus rückt.<br><br>

                    Im technischen Bereich geht es darum, den Lebenszyklus von Gebäudeanlagen und -systemen effizient zu planen und zu überwachen. Hierbei spielen regelmäßige Inspektionen, Wartungen und gezielte Modernisierungsmaßnahmen eine zentrale Rolle, um die Zuverlässigkeit und Leistungsfähigkeit der technischen Infrastruktur sicherzustellen. Dies trägt nicht nur zur Verlängerung der Lebensdauer der Anlagen bei, sondern minimiert auch unvorhergesehene Ausfallzeiten und senkt langfristig die Instandhaltungskosten.<br><br>

                    Parallel dazu steht das kaufmännische Asset Management, das die finanzielle Seite der Vermögenswerte abdeckt. Budgetierung und Finanzplanung sind hierbei von zentraler Bedeutung, um eine strategische Allokation finanzieller Ressourcen über den gesamten Lebenszyklus der Anlagen zu ermöglichen. Durch Risikomanagement werden finanzielle Unsicherheiten identifiziert und minimiert, während Wertsteigerung und Renditeoptimierung darauf abzielen, den ökonomischen Nutzen der Investitionen zu maximieren.
                </p>
            </div>

            <div>
                <p>
                    Die Verbindung zwischen technischem und kaufmännischem Asset Management ist essenziell, um einen ganzheitlichen Ansatz zu gewährleisten. Effektive Planung und Umsetzung von technischen Maßnahmen beeinflussen unmittelbar die langfristige finanzielle Performance eines Gebäudes. Beispielsweise können gezielte Modernisierungen durch das technische Asset Management nicht nur die Energieeffizienz verbessern, sondern auch langfristig Betriebskosten senken, was sich positiv auf die finanzielle Rentabilität auswirkt. Umgekehrt ermöglicht das kaufmännische Asset Management eine fundierte Grundlage für die Priorisierung von technischen Maßnahmen. Budgetierungen basieren auf den Erfordernissen der technischen Infrastruktur, und finanzielle Analysen unterstützen die Entscheidungsfindung hinsichtlich Investitionen in Wartung, Modernisierung oder neue Technologien.<br> <br>

                    Mit unserem Geschäftsfeld Asset Management bieten wir alle Aspekte des kaufmännischen- als auch des technischen Asset Management an. Nach unserer Ansicht kann nur eine harmonische Verbindung beider Aspekte eine grundlegende Voraussetzung für eine effiziente, nachhaltige Bewirtschaftung von Gebäuden. Durch die Integration von technischem und kaufmännischem Asset Management können Eigentümer und Betreiber die Lebensdauer ihrer Vermögenswerte verlängern, Betriebskosten minimieren und gleichzeitig den wirtschaftlichen Erfolg ihrer Investitionen sicherstellen.
                </p>
            </div>

            <div>
                <h1>Überblick unserer Leistungen:</h1><br>
                <div>
                    <button onclick="popup('/Bilder/TextBilder/AssetManagement.svg')">
                        <img src="{{ url_for('static', filename='/Bilder/TextBilder/AssetManagement.svg') }}" alt="Projektmanagement Leistungen">
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>