<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}

    <div id="Geschaeftsfeld">
        <div class="GFBild">
            <img src="{{ url_for('static', filename='Bilder/PropertyManagement.jpg') }}" alt="Property Management">
            <h1>Property Management</h1>
        </div>
        <div class="GFText">
            <div class="columns">
                <p>
                    Wir bieten mit unserem Geschäftsfeld Property Management sowohl das kaufmännische- als auch technische Property Management an. Nach unserer Ansicht ist das kaufmännische und technische Property Management in Gebäuden zwei wesentliche Aspekte der ganzheitlichen Immobilienverwaltung.
                </p>
                <p>
                    Das kaufmännische Property Management konzentriert sich auf die finanzielle und administrative Seite der Gebäudebewirtschaftung. Hierbei geht es um die Verwaltung von Mietverträgen, die Erhebung von Mietzahlungen, die Budgetierung von Betriebskosten, das Management von Serviceverträgen und die Kommunikation mit Mietern. Das Ziel besteht darin, sicherzustellen, dass die finanziellen Abläufe reibungslos funktionieren, Mieteinnahmen maximiert und Betriebskosten effizient verwaltet werden. Die Abgrenzung zum Asset Management liegt darin, dass das kaufmännische Property Management eher auf die kurzfristigen finanziellen Belange fokussiert ist und weniger strategische Entscheidungen über den gesamten Lebenszyklus der Vermögenswerte trifft.
                </p>
                <p>
                    Im Gegensatz dazu liegt der Schwerpunkt des technischen Property Managements auf der physischen Instandhaltung und Optimierung von Gebäuden. Dies umfasst die Wartung technischer Anlagen, Reparaturen, Inspektionen und die Umsetzung von Modernisierungsmaßnahmen. Das technische Property Management zielt darauf ab, die Lebensdauer der Gebäudeinfrastruktur zu verlängern, die Betriebszuverlässigkeit sicherzustellen und den technischen Standard aufrechtzuerhalten. Auch hier ist die Abgrenzung zum Asset Management erkennbar, da das technische Property Management auf die unmittelbare physische Bewirtschaftung fokussiert ist und weniger auf strategische, finanzielle Entscheidungen abzielt.
                </p>
                <p>
                    Der Vorteil des kaufmännischen Property Management liegt in der effizienten Finanzverwaltung und Budgetierung, die Optimierung von Mieteinnahmen und Betriebskosten sowie die Schaffung von Zufriedenheit und Bindung von Mietern durch professionelles Mietermanagement. Das technische Property Management hat den Vorteil, dass eine Verlängerung der Lebensdauer der Gebäudeinfrastruktur, Minimierung von Ausfallzeiten und Betriebsstörungen und die Sicherstellung eines hohen technischen Standards aversiert wird.
                </p>
                <p>
                    Insgesamt tragen sowohl das kaufmännische als auch das technische Property Management dazu bei, die Werthaltigkeit von Gebäuden zu erhalten und den Anforderungen von Mietern gerecht zu werden. Mit unserem Geschäftsfeld Property Management bieten wir zahlreiche Leistungen, um die Werthaltigkeit von Gebäuden zu halten und weiter zu optimieren.
                </p>

            </div>
            <h1>Überblick unserer Leistungen:</h1>
            <div class="overview">
                <button onclick="popup('/Bilder/TextBilder/PropManag.svg')">
                    <img src="{{ url_for('static', filename='/Bilder/TextBilder/PropManag.svg') }}" alt="PropertyManagement Leistungen">
                </button>
            </div>
        </div>
    </div>
    {% include footer %}
</body>

</html>