<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}

    <div id="Geschaeftsfeld">
        <div class="GFBild">
            <img src="{{ url_for('static', filename='Bilder/Contracting.jpg') }}" alt="Contracting">
            <h1>Contracting</h1>
        </div>
        <div class="GFText">
            <div class="columns">
                <p>
                    Energy contracting, also known as energy service or energy supply contracting, is an effective tool for increasing energy efficiency in the buildings. In this approach, an external service provider- the so-called contractor takes on the planning, financing, implementation and operation of energy efficiency measures. In return, the contractor receives a contractually agreed remuneration, often based on the energy cost savings achieved.
                </p>
                <p>
                    Energy contracting, also known as energy service or energy supply contracting, is an effective tool for increasing energy efficiency in the buildings. In this approach, an external service provider- the so-called contractor takes on the planning, financing, implementation and operation of energy efficiency measures. In return, the contractor receives a contractually agreed remuneration, often based on the energy cost savings achieved.
                </p>
            </div>
            <h1>Overview of our services:</h1>
            <div class="overview">
                <div class="list">
                    <ul>
                        <li>
                            Property owners, developers and managers can benefit from many advantages through energy contracting
                        </li>
                        <li>
                            The building owner/ client does not have to use their own financial resources, thus outsourcing the investment risk
                        </li>
                        <li>
                            Through the modernization of systems, energy efficiency and consequently, operational and supply reliability are increased, while energy costs and environmental impact are reduced. Institutionally set climate protection targets are supported by ESC
                        </li>
                        <li>
                            The contractor's technical know-how and professional energy management are utilized
                        </li>
                        <li>
                            The contractor's technical know-how and professional energy management are utilized
                        </li>
                        <li>
                            The value, productivity and comfort of a building (or system) are enhanced.
                        </li>
                        <li>
                            Many individual areas (planning, financing, construction, operation, maintenance) are covered by one single source. This significantly reduces interface complexity.
                        </li>
                        <li>
                            Additional services, such as user motivation or training measures can be contractually agreed.
                        </li>
                        <li>
                            The outstanding quality feature of ESC is the specially guaranteed savings commitment, which is a clear added value compared to in-house solutions.
                        </li>
                    </ul>
                </div>

                <button onclick="popup('/Bilder/TextBilder/en/Contracting.svg')">
                    <img src="{{ url_for('static', filename='/Bilder/TextBilder/en/Contracting.svg') }}" alt="Contracting Ablauf">
                </button>
            </div>

            <img class="raute1" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute2" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute3" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
        </div>
    </div>
    {% include footer %}
</body>

</html>