<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}

    <div id="Geschaeftsfeld">
        <div class="GFBild">
            <img src="{{ url_for('static', filename='Bilder/Contracting.jpg') }}" alt="Contracting">
            <h1>ДОГОВАРЯНЕ</h1>
        </div>
        <div class="GFText">
            <div class="columns">
                <p>
                    Енергийното договаряне, известно още като енергийни услуги или договор за енергийни доставки, е ефективен инструмент за повишаване на енергийната ефективност в сградите. При този подход, външен доставчик на услуги- т. нар. Изпълнител, поема проектирането, финансирането, внедряването и експлоатацията на мерки за енергийна ефективност. В замяна, изпълнителят получава уговорено чрез договор възнаграждение, често базирано на постигнатите икономии на разходи за енергия. 
                </p>
                <p>
                    Като опитен партньор в областта на енергийното договаряне, нашето подразделение за енергийно договаряне предлага цялостни услуги, от анализ на потенциала за енергийна ефективност до дългосрочна поддръжка на инсталираните системи. Ние разработваме индивидуални решения, които са едновременно икономически и екологично устойчиви. 
                </p>
            </div>
            <h1>Общ преглед на нашите услуги:</h1>
            <div class="overview">
                <div class="list">
                    <ul>
                        <li>
                            Собствениците на недвижимите имоти, предприемачите и управителите могат да се възползват от много предимства чрез енергийното договаряне
                        </li>
                        <li>
                            Собственикът/ клиентът на сградата не е необходимо да използва собствени финансови ресурси, като по този начин да възлага инвестиционния риск на външни изпълнители 
                        </li>
                        <li>
                            Чрез модернизацията на системите се повишава енергийната ефективност и следователно надеждността на експлоатацията и доставките, като същевременно се намаляват разходите за енергия и въздействието върху околната среда. Институционално зададените цели за опазване на климата се подкрепят от ESC 
                        </li>
                        <li>
                            Използват се техническите познания и професионалното управление на енергията на изпълнителя
                        </li>
                        <li>
                            Собственикът на сградата/ клиентът е освободен от основни задачи по проектиране и експлоатация, което му дава повече време за основните му дейности.
                        </li>
                        <li>
                            Подобряват се стойността, производителността и комфортът на сградата (или системата).
                        </li>
                        <li>
                            Много отделни области (проектиране, финансиране, строителство, експлоатация, поддръжка) са обхванати от един единствен източник. Това значително намалява сложността на интерфейса. 
                        </li>
                        <li>
                            Допълнителни услуги, като например мотивация на потребителите или мерки за обучение, могат да бъдат договорени. 
                        </li>
                        <li>
                            Изключителната качествена характеристика на ESC е специално гарантираният ангажимент за спестявания, който е ясна добавена стойност в сравнение с вътрешните решения.
                        </li>
                    </ul>
                </div>

                <button onclick="popup('/Bilder/TextBilder/en/Contracting.svg')">
                    <img src="{{ url_for('static', filename='/Bilder/TextBilder/en/Contracting.svg') }}" alt="Contracting Ablauf">
                </button>
            </div>

            <img class="raute1" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute2" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute3" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
        </div>
    </div>
    {% include footer %}
</body>

</html>