<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}
    <div id="Geschaeftsfeld">
        <div class="GFBild">
            <img src="{{ url_for('static', filename='Bilder/Generalplanung.jpg') }}" alt="Generalplanung">
            <h1>ГЛАВЕН ПРОЕКТАНТ</h1>
        </div>
        <div class="GFText">
            <div class="columns">
                <p>
                    Чрез нашия отдел Главен проектант ние прилагаме цялостен подход, който включва координация и интегриране на всички аспекти на проектирането и строителството на проекта от един главен проектант. Целта е да се оптимизира целият процес на проектиране и строителство чрез създаване на централна точка за контакт по всички въпроси.
                </p>
                <p>
                    Ключово предимство на ангажирането на главен проектант за собствениците и инвеститорите е ефективността и подобрената координация на строителния проект. Тъй като главният проектант е отговорен за всички процеси на проектиране и строителство, потенциалните проблеми с интерфейса между различните направления са сведени до минимум. Това помага да се избегне загубата на време и ресурси.
                </p>
                <p>
                    Освен това, главният проектант позволява цялостен поглед върху проекта. Главният проектант координира не само архитектурата, но и техническите, строително- физичните, икономическите аспекти и аспектите на планиране. Това осигурява оптимално съответствие между различните изисквания и нужди.
                </p>
                <p>
                    Собствениците и инвеститорите също се възползват от намаляване на риска, тъй като главният проектант е отговорен за спазването на разпоредбите и стандартите за качество. Чрез централизирана координация потенциалните проблеми могат да бъдат идентифицирани рано и да се предприемат контрамерки, което в крайна сметка води до по- високо качество на строителството. Друго финансово предимство за собствениците и инвеститорите е, че тази услуга често може да доведе до икономии на разходи. Чрез обединяване на различните процеси на проектиране и строителство може да се постигне по- ефективно използване на ресурсите. Това може да има положителен ефект върху бюджета на проекта.
                </p>
                <p>
                    С нашите услуги в областта на генералното проектиране ние предлагаме цялостен и ефикасен подход към строителните проекти. Собствениците и инвеститорите се възползват от намалена сложност, по- високо качество на строителството и по- добър контрол върху целия строителен процес. Нашият екип се състои от експерти по архитектура, техническо оборудване на сгради, строително инженерство, компютърни науки и бизнес администрация, свързана с недвижими имоти. Интегрирането на тези дисциплини в рамките на екип за генерално проектиране ни позволява да възприемем цялостен подход към строителните проекти. Синергичните ефекти между архитектурата, TGA, строителното инженерство, компютърните науки и бизнес администрацията, свързана с недвижими имоти, водят до цялостно проектиране и реализация на сгради, които са едновременно функционално и икономически оптимизирани. Това помага за намаляване на сложността, минимизиране на рисковете и подобряване на качеството на строителния проект.
                </p>
            </div>
            <h1>ОБЩ ПРЕГЛЕД НА НАШИТЕ УСЛУГИ:</h1>
            <div class="overview">
                <button onclick="popup('/Bilder/TextBilder/en/GenPlan.svg')">
                    <img src="{{ url_for('static', filename='/Bilder/TextBilder/en/GenPlan.svg') }}" alt="Projektmanagement Leistungen">
                </button>
            </div>

            <img class="raute1" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute2" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute3" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
        </div>
    </div>
    {% include footer %}
</body>

</html>