<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}
    <div id="Geschaeftsfeld">
        <div class="GFBild">
            <img src="{{ url_for('static', filename='Bilder/InvestmentManagement.jpg') }}" alt="Investment Management">
            <h1>УПРАВЛЕНИЕ НА ИНВЕСТИЦИИ</h1>
        </div>
        <div class="GFText">
            <div class="columns">
                <p>
                    В контекста на сградите, ние разглеждаме управлението на инвестициите като цялостно администриране на инвестиции в недвижими имоти с цел максимално увеличаване на дългосрочната стойност и рентабилността на сградите. Тази дисциплина съчетава стратегически, финансови и оперативни мерки за оптимизиране на представянето на портфолиата на недвижими имоти. Услугите, предоставяни в рамките на нашето подразделение за управление на инвестиции за сгради са разнообразни. 
                </p>
                <p>
                    Нашите услуги включват анализ и оценка на портфолиата на недвижими имоти, за да се създаде солидна основа за решения за покупка и продажба. Нашият екип провежда due diligence, за да идентифицира рискове и възможности, и разработва стратегии за оптимизиране на портфолиото възоснова на тези констатации. Като част от управлението на лизингите се разработват стратегии за постигане на максимална заетост на сградите, сключване на договори за лизинг и непрекъснато оптимизиране на цените на наемите. Също така, управленският екип поддържа взаимоотношения с наемателите и се занимава с разрешаването на конфликти, за да осигури дългосрочно задържане на наемателите. 
                </p>
                <p>
                    Оптимизацията на оперативните разходи е друг ключов компонент на нашите услуги. Оперативните разходи се анализират, за да се идентифицира потенциалът за ефективност. Чрез прилагането на мерки за намаляване на тези разходи се подобрява рентабилността на недвижимите имоти. За да увеличи стойността на сградите, екипът за управление на инвестиции планира и координира мерки за обновяване и модернизация. Това включва разработване на стратегии за повишаване на стойността и прилагане на действия за подобряване на привлекателността на недвижимите имоти. 
                </p>
                <p>
                    Друг фокус на нашите услуги в това подразделение е управлението на риска, където се идентифицират и оценяват потенциалните рискове, свързани с инвестициите в недвижими имоти. След това, екипът ни прилага подходящи стратегии за смекчаване на тези рискове. 
                </p>
                <p>
                    Финансовото управление е ключова област от нашето подразделение, обхващаща бюджетиране, финансово планиране и наблюдение на финансовите показатели. Целта е да се създаде солидна финансова основа за инвестиции в недвижими имоти и да се осигури оптимална възвръщаемост. 
                </p>
                <p>
                    С нашето подразделение за управление на инвестиции, ние предоставяме набор от услуги, насочени към увеличаване на дългосрочната стойност на недвижимите имоти, максималното увеличаване на рентабилността и минимизиране на рисковете.
                </p>
            </div>
            <h1>Общ преглед на нашите услуги и процес:</h1>
            <div class="overview">
                <button onclick="popup('/Bilder/TextBilder/bg/InvestManag.svg')">
                    <img src="{{ url_for('static', filename='/Bilder/TextBilder/bg/InvestManag.svg') }}" alt="InvestmentManagement Leistungen">
                </button>
            </div>

            <img class="raute1" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute2" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute3" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
        </div>
    </div>
    {% include footer %}
</body>

</html>