<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}

    <div id="Geschaeftsfeld">
        <div class="GFBild">
            <img src="{{ url_for('static', filename='Bilder/Propertymanagement.jpg') }}" alt="Property Management">
            <h1>УПРАВЛЕНИЕ НА НЕДВИЖИМИ ИМОТИ</h1>
        </div>
        <div class="GFText">
            <div class="columns">
                <p>
                    Чрез нашата сфера на дейност за управление на недвижими имоти, ние предлагаме търговско и техническо управление. Според нас, търговското и техническото управление на недвижими имоти са двата основни аспекта на цялостното управление на недвижимите имоти.
                </p>
                <p>
                    Управлението на търговски имоти се фокусира върху финансовите и административни аспекти на експлоатацията на недвижимия имот. Това включва управление на договори за наем, събиране на наемни плащания, бюджетиране на оперативните разходи, управление на договори за услуги и комуникация с наемателите. Целта е да се осигури безпроблемна финансова дейност, максимално да се увеличат приходите от наем и оперативните разходи да се управляват ефективно. Разликата между управлението на недвижими имоти и управлението на активи се състои във факта, че управлението на търговски имоти е по- фокусирано върху краткосрочни финансови въпроси и по- малко върху стратегически решения относно целия жизнен цикъл на активите. 
                </p>
                <p>
                    За разлика от това, техническото управление на недвижими имоти се фокусира върху физическата поддръжка и оптимизация на сградите. Това включва поддръжка на технически системи, ремонти, инспекции и прилагане на мерки за модернизация. Целта на техническото управление на недвижими имоти е да удължи живота на сградната инфраструктура, да осигури експлоатационна надеждност и да поддържа техническите стандарти. Отново, разликата от управлението на активи е очевидна, тъй като техническото управление на недвижими имоти е фокусирано върху непосредствени физически операции, а не върху вземане на стратегически финансови решения. 
                </p>
                <p>
                    Предимството на управлението на търговски имоти се състои в ефективното финансово администриране и бюджетиране, оптимизирането на приходите от наеми и оперативните разходи, както и в създаването на удовлетвореност и задържане на наемателите чрез професионално управление на наемателите. Техническото управление на недвижими имоти предлага предимството да удължава жизнения цикъл на сградната инфраструктура, да минимизира времето за престой и оперативните прекъсвания и да осигурява високи технически стандарти. 
                </p>
                <p>
                    Като цяло, както търговското, така и техническото управление на недвижими имоти допринасят за поддържането и повишаването на стойността на сградите и задоволяването на изискванията на наемателите. С нашето подразделение за управление на недвижими имоти, ние предлагаме широка гама от услуги, насочени към запазване и по- нататъшно оптимизиране на стойността на сградите.
                </p>
            </div>
            <h1>Общ преглед на нашите услуги:</h1>
            <div class="overview">
                <button onclick="popup('/Bilder/TextBilder/bg/PropManag.svg')">
                    <img src="{{ url_for('static', filename='/Bilder/TextBilder/bg/PropManag.svg') }}" alt="PropertyManagement Leistungen">
                </button>
            </div>

            <img class="raute1" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute2" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute3" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
        </div>
    </div>
    {% include footer %}
</body>

</html>