<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}
    <div id="Geschaeftsfeld">
        <div class="GFBild">
            <img src="{{ url_for('static', filename='Bilder/Gebäudetechnik.jpg') }}" alt="Technische Gebäudeausrüstung">
            <h1>ТЕХНИЧЕСКО ОБОРУДВАНЕ НА СГРАДИ</h1>
        </div>
        <div class="GFText">
            <div class="columns">
                <p>
                    Сграда без сградно оборудване е като човешко тяло без кръвоносни съдове и мускули- нежизнеспособно. Техническото оборудване в сградите представлява кръвоносните съдове и мускулите на всеки недвижим имот. То гарантира, че сградите са функционални и включва всички технически системи, необходими за работата и комфорта в сградата. Тези системи не само осигуряват безпроблемното функциониране на ежедневието, но и допринасят значително за ефективността, безопасността и екологичността на сградите.
                </p>
                <p>
                    Днес, инженерингът на сградни услуги играе главна роля в развитието и обновяването на сгради. Докато в миналото местоположението и дизайнът бяха основните приоритети, строителните технологии се превърнаха в ключов стълб в проектирането на съвременни сгради в контекста на устойчивостта. Енергията поскъпна, но устойчивите строителни технологии осигуряват енергийна ефективност и следователно ниски експлоатационни разходи. 
                </p>
                <p>
                    В нашето подразделение „Инженеринг на сградни услуги“, ние предоставяме всички инженерни услуги, свързани със строителните системи. Ние отдаваме голямо значение на енергийната ефективност на сградите, тъй като това е част от нашата основна идентичност и нашия ангажимент като инженери.
                </p>
            </div>
            <h1>ПРЕГЛЕД НА НАШИТЕ УСЛУГИ:</h1>
            <div class="overview">
                <div class="list">
                    <ul>
                        <li>Проектиране и надзор на всички фази на проектиране, и всички системни групи в съответствие с HOAI:
                            <ul>
                                <li>ВиК</li>
                                <li>Отопление</li>
                                <li>Вентилационна и климатична техника</li>
                                <li>Силнотокови системи</li>
                                <li>Слаботокови системи</li>
                                <li>Специфични за употреба системи (напр. спринклерни системи)</li>
                                <li>Сградна автоматизация </li>
                                <li>Други мерки за технически системи</li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>Предпроектни проучвания</li>
                        <li>Симулации</li>
                        <li>Енергийна оптимизация</li>
                        <li>Заснемане и анализ</li>
                        <li>Модернизация на технически системи</li>
                        <li>Техническа проверка</li>
                        <li>ESG консултации</li>
                    </ul>
                </div>

                <button onclick="popup('/Bilder/3DModellTGA.png')">
                    <img src="{{ url_for('static', filename='/Bilder/3DModellTGA.png') }}" alt="3D-Modell TGA">
                </button>
            </div>

            <img class="raute1" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute2" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute3" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
        </div>
    </div>
    {% include footer %}
</body>

</html>