<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BAE.css">
    <link rel="icon" href="/Logo/Rauten BAE.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>BAE GROUP</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/BAE.js"></script>
</head>

<body>
    <menu-bar></menu-bar>
    <copyright-bae></copyright-bae>

    <div class="AssetManagement Bild"></div>
    <div id="AssetManagement" class="ContainerAssetManagement">
        <h2>Asset Management.</h2>
        <div class="AssetManagement-container">
            <div class="AssetManagement-subcontainer1">
                <p>The comprehensive management of assets in buildings consists of two crucial aspects
                    Components together: technical asset management and commercial asset management.
                    Technical asset management focuses on strategic maintenance and optimization
                    the physical resources in the building, while commercial asset management takes care of the
                    financial ones
                    Dimension of these assets comes into focus.<br><br>

                    In the technical area it is about the life cycle of building systems and systems
                    plan and monitor efficiently. Regular inspections, maintenance and
                    Targeted modernization measures play a central role in ensuring reliability and
                    Ensuring the performance of the technical infrastructure. This not only contributes to
                    Extending the lifespan of the systems, but also minimizing unforeseen events
                    downtime and reduces maintenance costs in the long term.<br><br>

                    At the same time, there is commercial asset management, which covers the financial side of the
                    business
                    covering assets. Budgeting and financial planning are of central importance here
                    a strategic allocation of financial resources over the entire life cycle of the assets
                    to enable. Through risk management, financial uncertainties are identified and
                    minimized, while increasing value and optimizing returns aim to achieve the economic
                    Maximize the benefits of investments.
                </p>
            </div>

            <div class="AssetManagement-subcontainer3">
                <p>
                    The connection between technical and commercial asset management is essential in order to...
                    to ensure a holistic approach. Effective planning and implementation of technical
                    Measures directly influence the long-term financial performance of a building.
                    For example, targeted modernization through technical asset management can not only
                    improve energy efficiency, but also reduce operating costs in the long term
                    has a positive impact on financial profitability.
                    Conversely, commercial asset management provides a sound basis for the
                    Prioritization of technical measures. Budgeting is based on the needs of the
                    technical infrastructure and financial analyzes support decision-making
                    regarding investments in maintenance, modernization or new technologies.<br> <br>

                    With our Asset Management business area, we offer all aspects of commercial as well as
                    of technical asset management. In our opinion, only a harmonious connection can
                    Both aspects are a fundamental prerequisite for efficient, sustainable management
                    of buildings. By integrating technical and commercial asset management
                    Owners and operators extend the life of their assets, operating costs
                    minimize and at the same time ensure the economic success of your investments.
                </p>
            </div>

            <div class="AssetManagement-subcontainer2">
                <h1>Overview of our services:</h1><br>
                <div class="AssetManagement image-container">
                    <button class="img-button" onclick="popup('/Bilder/Leistungen_Assetmanagement.png')">
                        <img src="/Bilder/Leistungen_Assetmanagement.png" alt="Projektmanagement Leistungen">
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>