<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}
    
    <div class="AssetManagement Bild"></div>
    <div id="AssetManagement" class="ContainerAssetManagement">
        <h2>Asset Management.</h2>
        <div class="AssetManagement-container">
            <div class="AssetManagement-subcontainer1">
                <p>
                    The comprehensive management of assets in buildings is made up of two key components: technical asset management and commercial asset management. Technical asset management focuses on the strategic maintenance and optimization of the physical resources in the building, while commercial asset management focuses on the financial dimension of these assets.<br><br>

                    In the technical area, the aim is to efficiently plan and monitor the life cycle of building facilities and systems. Regular inspections, maintenance and targeted modernization measures play a key role in ensuring the reliability and performance of the technical infrastructure. This not only helps to extend the service life of the systems, but also minimizes unforeseen downtimes and reduces maintenance costs in the long term.<br><br>

                    Parallel to this is commercial asset management, which covers the financial side of the assets. Budgeting and financial planning are of central importance here in order to enable the strategic allocation of financial resources over the entire life cycle of the assets. Risk management is used to identify and minimize financial uncertainties, while value enhancement and yield optimization aim to maximize the economic benefit of investments.
                </p>
            </div>

            <div class="AssetManagement-subcontainer3">
                <p>
                    The link between technical and commercial asset management is essential to ensure a holistic approach. Effective planning and implementation of technical measures have a direct impact on the long-term financial performance of a building. For example, targeted modernization through technical asset management can not only improve energy efficiency, but also reduce long-term operating costs, which has a positive impact on financial profitability. Conversely, commercial asset management provides a sound basis for prioritizing technical measures. Budgeting is based on the requirements of the technical infrastructure, and financial analyses support decision-making with regard to investments in maintenance, modernization or new technologies.<br> <br>

                    With our Asset Management division, we offer all aspects of both commercial and technical asset management. In our view, only a harmonious combination of both aspects can be a fundamental prerequisite for the efficient, sustainable management of buildings. By integrating technical and commercial asset management, owners and operators can extend the service life of their assets, minimize operating costs and at the same time ensure the economic success of their investments.
                </p>
            </div>

            <div class="AssetManagement-subcontainer2">
                <h1>Überblick unserer Leistungen:</h1><br>
                <div class="AssetManagement image-container">
                    <button class="img-button" onclick="popup('/Bilder/TextBilder/en/AssetManagement.svg')">
                        <img src="{{ url_for('static', filename='/Bilder/TextBilder/en/AssetManagement.svg') }}" alt="Projektmanagement Leistungen">
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>