<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}
    
    <div class="Contracting Bild"></div>
    <div id="Contracting" class="ContainerContracting">
        <h2>Contracting.</h2>
        <div class="Contracting-container">
            <div class="Contracting-subcontainer0">
                <p>
                    Energy contracting, also known as energy services or energy supply contracting, is an effective instrument for increasing energy efficiency in buildings. In this approach, an external service provider, known as the contractor, takes on the planning, financing, implementation and operation of energy efficiency measures. In return, the contractor receives a contractually agreed fee, which is often based on the energy costs saved.
                    <br><br>

                    As an experienced partner in the field of energy contracting, our Energy Contracting division offers comprehensive services, from analyzing energy efficiency potential to long-term support for installed systems. We develop tailor-made solutions that are not only economical but also ecologically sustainable.
                </p>
            </div>

            <div class="Contracting-subcontainer2">
                <h1>Überblick unserer Leistungen und Ablauf:</h1><br>
                <div class="Contracting image-container">
                    <button class="img-button" onclick="popup('/Bilder/TextBilder/en/Contracting.svg')">
                        <img src="{{ url_for('static', filename='/Bilder/TextBilder/en/Contracting.svg') }}" alt="Projektmanagement Leistungen">
                    </button>
                </div>

                <div class="Contracting-subcontainer3">
                    <br>
                    <p> 
                        Energy contracting offers numerous advantages for owners, building owners and managers:
                    </p>

                    <p class="list-item">
                        The building owner/client does not have to use his own financial resources, thus outsourcing his own investment risk.
                    </p>
                    <p class="list-item">
                        The modernization of systems increases energy efficiency and thus also operational and supply security, while reducing energy costs and environmental pollution. Institutional climate protection targets are supported by the ESC.
                    </p>
                    <p class="list-item">
                        The contractors' technical expertise and professional energy management are used for this purpose.
                    </p>
                    <p class="list-item">
                        The building owner/client is relieved of essential planning and operational tasks. This leaves more time for their own core tasks.
                    </p>
                    <p class="list-item">
                        The value, productivity and comfort of a building (or system) are increased.
                    </p>
                    <p class="list-item">
                        Many individual areas (planning, financing, construction, operation, maintenance) are covered from a single source. This enables a significant reduction in the number of interfaces
                    </p>
                    <p class="list-item">
                        Additional services such as user motivation and training measures can be contractually agreed.
                    </p>
                    <p>
                        The outstanding quality feature of the ESC is in particular the appreciation of the savings guarantee and should be emphasized. It is the essential additional benefit compared to self-directed solutions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>