<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}
    
    <div class="Generalplanung Bild"></div>
    <div id="Generalplanung" class="ContainerGeneralplanung">
        <h2>General Planning.</h2>
        <div class="Generalplanung-container">
            <div class="Generalplanung-subcontainer1">
                <p> 
                    With our general planning business area, we pursue a comprehensive approach that encompasses the coordination and integration of all planning and construction aspects of a building project by a single general planner. The aim is to optimize the entire planning and construction process by creating a central point of contact for all matters. <br><br>

                    A major advantage of commissioning a general planner for owners and investors is the efficiency and better coordination of the construction project. As the general planner acts as the person responsible for all planning and construction processes, potential interface problems between different trades are minimized. This helps to avoid wasting time and resources. <br><br>

                    Furthermore, general planning enables a holistic view of the project. The general planner not only coordinates the architecture, but also the technical, physical, economic and time-related aspects. This ensures optimal coordination between the various requirements and needs.
                </p>
            </div>

            <div class="Generalplanung-subcontainer3">
                <p>
                    Owners and investors also benefit from risk minimization, as the general planner is responsible for compliance with regulations and quality standards. Central coordination allows them to identify potential problems at an early stage and take countermeasures, which ultimately leads to higher construction quality.Another financial advantage for owners and investors is that general planning can often lead to cost savings. By bundling the various planning and construction processes, a more efficient use of resources can be achieved. This can have a positive impact on the project budget.<br><br>

                    With our general planning services, we offer a holistic and efficient approach to construction projects. Owners and investors benefit from reduced complexity, higher construction quality and better control over the entire construction process. Our team consists of the specialist disciplines of architecture, technical building services, statics, IT and real estate-oriented business administration. The integration of these specialist disciplines in a general planning team allows us to take a holistic approach to construction projects. The synergy effects between architecture, technical building equipment, statics, IT and real estate-oriented business administration lead to comprehensive planning and realization of buildings that are both functionally and economically optimized. This helps to reduce complexity, minimize risks and increase the quality of the construction project.
                </p>
            </div>

            <div class="Generalplanung-subcontainer2">
                <h1>Overview of our services:</h1><br>
                <div class="Generalplanung image-container">
                    <button class="img-button" onclick="popup('/Bilder/TextBilder/en/GenPlan.svg')">
                        <img src="{{ url_for('static', filename='/Bilder/TextBilder/en/GenPlan.svg') }}" alt="Projektmanagement Leistungen">
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>