<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BAE.css">
    <link rel="icon" href="/Logo/Rauten BAE.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>BAE GROUP</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/BAE.js"></script>
</head>

<body>
    <menu-bar></menu-bar>
    <copyright-bae></copyright-bae>

    <div class="InvestmentManagement Bild"></div>
    <div id="InvestmentManagement" class="ContainerInvestmentManagement">
        <h2>Investment Management.</h2>
        <div class="InvestmentManagement-container">
            <div class="InvestmentManagement-subcontainer0">
                <p> We view investment management in the area of ​​buildings as comprehensive administration
                    of real estate investments with the aim of improving the long-term value and profitability of the
                    property
                    Maximize buildings. This discipline combines strategic, financial and operational
                    Measures to optimize the performance of real estate portfolios. The services provided in
                    are provided as part of our investment management business for buildings
                    diverse.<br>

                    <br> Our services include the analysis and evaluation of real estate portfolios in order to...
                    to create a sound basis for purchasing and selling decisions. Our team
                    conducts due diligence to identify risks and opportunities and develops
                    based on this, strategies for portfolio optimization. As part of rental management
                    Strategies developed to achieve maximum utilization of the buildings, the negotiation of
                    Rental agreements and the continuous optimization of rental prices. The management also maintains
                    Relations with tenants and takes care of conflict resolution in order to ensure long-term tenant
                    loyalty
                    guarantee.
                </p>
            </div>

            <div class="InvestmentManagement-subcontainer2">
                <p>
                </p>
            </div>

            <div class="InvestmentManagement-subcontainer4">
                <p>
                    Operating cost optimization is another essential part of our services.
                    The operating costs are analyzed in order to identify efficiency potential. Through
                    Implementing measures to reduce operating costs will increase profitability
                    Real estate improved. In order to increase the value of the buildings, the investment plans and
                    coordinates
                    Management of renovation and modernization measures. This includes the development of
                    Strategies to increase value and the implementation of measures to improve attractiveness
                    of real estate. <br>

                    Another focus of our services in this business area is risk management,
                    in which potential risks associated with real estate investments are identified and
                    be rated. The team then implements appropriate strategies to address these risks
                    to secure.<br><br>

                    Financial management is a crucial area of ​​our business, budgeting
                    financial planning and monitoring of financial indicators. The goal is to have a solid
                    to create a financial basis for real estate investments and to achieve an optimal return
                    guarantee. <br><br>

                    With our Investment Management business area, we provide a range of:
                    Services aimed at increasing the long-term value of real estate
                    Maximize profitability and minimize risks.
                </p>
            </div>

            <div class="InvestmentManagement-subcontainer5">
                <h1>Overview of our services and process:</h1><br>
                <div class="InvestmentManagement image-container5">
                    <button class="img-button" onclick="popup('/Bilder/Leistungen_Investment.png')">
                        <img src="/Bilder/Leistungen_Investment.png" alt="InvestmentManagement Leistungen">
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>