<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}
    <div id="Geschaeftsfeld">
        <div class="GFBild">
            <img src="{{ url_for('static', filename='Bilder/InvestmentManagement.jpg') }}" alt="Investment Management">
            <h1>Investment Management</h1>
        </div>
        <div class="GFText">
            <div class="columns">
                <p>
                    In the context of buildings, we review Investment Management as comprehensive administration of real estate investments with the goal of maximizing the long-term value and profitability of buildings. This discipline combines strategic, financial and operational measures to optimize the performance of real estate portfolios. The services provided within the scope of our Investment Management division for buildings are diverse.
                </p>
                <p>
                    Our services include the analysis and evaluation of real estate portfolios to create a solid basis for purchase and sale decisions. Our team conducts due diligence reviews to identify risks and opportunities and develops strategies for portfolio optimization based on these findings. As part of leasing management, strategies are developed to achieve maximum occupancy of the buildings, negotiate lease agreements and continuously optimize rental prices. The management team also maintains relationships with tenants and handles conflict resolution to ensure long-term tenant retention.
                </p>
                <p>
                    Operating cost optimization is another key component of our services. Operating costs are analyzed to identify the potential of efficiency. By implementing measures to reduce these costs, the profitability of the properties is improved. To increase the value of the buildings, the Investment Management team plans and coordinates renovation and modernization measures. This includes the development of value enhancement strategies and the implementation of actions to improve the attractiveness of the properties.
                </p>
                <p>
                    Another focus of our services in this division is risk management, where potential risks associated with real estate investments are identified and assessed. Our team then implements appropriate strategies to mitigate these risks.
                </p>
                <p>
                    Financial management is a crucial area of our division, covering budgeting, financial planning and monitoring of financial indicators. The goal is to establish a solid financial foundation for real estate investments and ensure optimal returns.
                </p>
                <p>
                    With our Investment Management division, we provide a range of services aimed at increasing the long-term value of properties, maximizing profitability and minimizing risks.
                </p>
            </div>
            <h1>Overview of our services and process:</h1>
            <div class="overview">
                <button onclick="popup('/Bilder/TextBilder/en/InvestManag.svg')">
                    <img src="{{ url_for('static', filename='/Bilder/TextBilder/en/InvestManag.svg') }}" alt="InvestmentManagement Leistungen">
                </button>
            </div>

            <img class="raute1" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute2" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
            <img class="raute3" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
        </div>
    </div>
    {% include footer %}
</body>

</html>