<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}
    
    <div class="Projektmanagement Bild"></div>
    <div id="Projektmanagement" class="ContainerProjektmanagement">
        <h2>Project Management.</h2>
        <div class="Projektmanagement-container">
            <div class="Projektmanagement-subcontainer1">
                <p>
                    Project management in construction plays a crucial role in successfully planning, coordinating and completing complex construction projects. It is like the composition of an orchestra, where different professionals come together to work harmoniously towards a common goal - in this case, the construction of a building.<br><br>

                    The conductor in an orchestra is comparable to the project manager in the construction industry. Both play a central role in coordinating and leading the team. The conductor sets the pace and ensures that each musician plays at the right time and at the right tempo. Similarly, the project manager leads the construction project by ensuring that everyone involved is coordinated and carries out their tasks in a coordinated manner. The musicians in the orchestra represent the various construction experts, including architects, engineers, craftsmen and other specialists. Each musician contributes their own skills and expertise, just as the construction experts contribute their unique skills to the realization of the construction project. <br><br>
                </p>
            </div>

            <div class="Projektmanagement-subcontainer3">
                <p>
                    The construction industry requires smooth collaboration between the parties involved to ensure a successful project. Project management plays the role of ensuring that the various professionals work together effectively and that their individual skills are integrated harmoniously. As a rule, these tasks are assigned to the client as the representative of the owner's interests. This is where our project management business comes in. We provide all tasks relating to project management on the client side.<br><br>
                </p>
            </div>

            <div class="Contracting-subcontainer2">
                <h1>Overview of our services and process:</h1><br>
                <div class="Contracting image-container">
                    <button class="img-button" onclick="popup('/Bilder/Leistungen_Projektmanagement.png')">
                        <img src="/Bilder/Leistungen_Projektmanagement.png" alt="Projektmanagement Leistungen">
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>