<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BAE.css">
    <link rel="icon" href="/Logo/Rauten BAE.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>BAE GROUP</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/BAE.js"></script>
</head>

<body>
    <menu-bar></menu-bar>
    <copyright-bae></copyright-bae>

    <div class="PropertyManagement Bild"></div>
    <div id="PropertyManagement" class="ContainerPropertyManagement">
        <h2>Property Management.</h2>

        <div class="PropertyManagement-container">


            <div class="PropertyManagement-subcontainer0">
                <p> With our property management business area, we offer both commercial and...
                    technical property management. In our opinion this is commercial and technical
                    Property management in buildings two essential aspects of the holistic
                    Property management.<br><br>

                    Commercial property management focuses on financial and administrative
                    Building management side. This involves the management of rental agreements
                    Collection of rental payments, budgeting of operating costs, management of
                    Service contracts and communication with tenants. The aim is to ensure
                    that financial processes run smoothly, rental income is maximized and
                    Operating costs are managed efficiently. The distinction from asset management lies in the fact that
                    Commercial property management focuses more on short-term financial concerns
                    is and fewer strategic decisions over the entire life cycle of the assets
                    meets.<br>
                </p>
            </div>


            <div class="PropertyManagement-subcontainer2">
                <p>In contrast, the focus of technical property management is physical
                    Maintenance and optimization of buildings. This includes the maintenance of technical systems,
                    Repairs, inspections and the implementation of modernization measures. The technical one
                    Property management aims to extend the life of the building infrastructure
                    To ensure operational reliability and maintain technical standards. Also
                    The distinction from asset management can be seen here, as technical property management
                    is focused on immediate physical management and less on strategic,
                    financial decisions.
                </p>
            </div>

            <div class="PropertyManagement-subcontainer4">
                <p>
                    The advantage of commercial property management lies in efficient financial management and
                    Budgeting, optimizing rental income and operating costs and creating
                    Tenant satisfaction and retention through professional tenant management. The technical one
                    Property management has the advantage of extending the lifespan of the property
                    Building infrastructure, minimizing downtimes and operational disruptions and ensuring
                    a high technical standard is averted. <br><br>

                    Overall, both commercial and technical property management contribute to
                    to maintain the value of buildings and to meet the requirements of tenants.
                    With our property management business area, we offer numerous services to:
                    To maintain and further optimize the value of buildings.
                </p>
            </div>


            <div class="PropertyManagement-subcontainer5">
                <h1>Overview of our services:</h1><br>
                <div class="PropertyManagement image-container5">
                    <button class="img-button" onclick="popup('/Bilder/Leistungen_Property_Management.png')">
                        <img src="/Bilder/Leistungen_Property_Management.png" alt="PropertyManagement Leistungen">
                    </button>
                </div>

            </div>
        </div>

    </div>
</body>

</html>