<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}
    
    <div class="PropertyManagement Bild"></div>
    <div id="PropertyManagement" class="ContainerPropertyManagement">
        <h2>Property Management.</h2>

        <div class="PropertyManagement-container">


            <div class="PropertyManagement-subcontainer0">
                <p> 
                    With our Property Management division, we offer both commercial and technical property management. In our view, commercial and technical property management in buildings are two essential aspects of holistic real estate management.<br><br>

                    Commercial property management focuses on the financial and administrative side of building management. This involves managing rental agreements, collecting rental payments, budgeting operating costs, managing service contracts and communicating with tenants. The aim is to ensure that financial processes run smoothly, rental income is maximized and operating costs are managed efficiently. Commercial property management differs from asset management in that it focuses more on short-term financial issues and makes fewer strategic decisions about the entire life cycle of the assets. <br>
                </p>
            </div>


            <div class="PropertyManagement-subcontainer2">
                <p>
                    In contrast, the focus of technical property management is on the physical maintenance and optimization of buildings. This includes the maintenance of technical systems, repairs, inspections and the implementation of modernization measures. The aim of technical property management is to extend the service life of the building infrastructure, ensure operational reliability and maintain technical standards. Here, too, the distinction from asset management is recognizable, as technical property management focuses on direct physical management and is less concerned with strategic, financial decisions. <br>
                </p>
            </div>

            <div class="PropertyManagement-subcontainer4">
                <p>
                    The advantage of commercial property management lies in efficient financial management and budgeting, the optimization of rental income and operating costs and the creation of tenant satisfaction and loyalty through professional tenant management. Technical property management has the advantage of extending the service life of the building infrastructure, minimizing downtimes and operational disruptions and ensuring a high technical standard.<br><br>

                    Overall, both commercial and technical property management help to maintain the value of buildings and meet the requirements of tenants. With our Property Management division, we offer numerous services to maintain and further optimize the value of buildings.
                </p>
            </div>


            <div class="PropertyManagement-subcontainer5">
                <h1>Overview of our services:</h1><br>
                <div class="PropertyManagement image-container5">
                    <button class="img-button" onclick="popup('/Bilder/Leistungen_Property_Management.png')">
                        <img src="{{ url_for('static', filename='/Bilder/Leistungen_Property_Management.png') }}" alt="PropertyManagement Leistungen">
                    </button>
                </div>

            </div>
        </div>

    </div>
</body>

</html>