<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}
    
    <div class="TGA Bild"></div>
    <div id="TGA" class="ContainerTGA">
        <h2>Technical Building Equipment.</h2>
        <div class="TGA-container">
            <div class="TGA-subcontainer1">
                <p>
                    Buildings without technology are like the human body without its blood vessels and muscles: Not able to survive. <br>

                    The technology in buildings is the bloodstream and muscles of every property. It ensures that properties are usable. It includes all technical systems that are essential for the operation and well-being within a building. These systems not only ensure the smooth running of daily life, but also make a significant contribution to the efficiency, safety and environmental friendliness of buildings.<br><br>

                    Today, technical building services play a central role in the development and refurbishment of buildings. Whereas in the past only the location and design of the building were decisive, today building technology is another central pillar in the design of contemporary buildings in the context of sustainability. Sustainable building technology ensures the energy efficiency of buildings and therefore low ancillary costs. Because energy has become expensive. <br><br>

                    With our technical building services business area, we provide all engineering services relating to technical building services. We attach great importance to the energy efficiency of buildings, which is part of our self-image and aspiration as engineers.
                </p>
            </div>
            <div class="TGA-subcontainer2">
                <h1>Overview of services:</h1><br>
                <p class="list-item">Planning and supervision of all work phases and all plant groups in accordance with HOAI:</p>
                <p class="sublist">Sanitary technology</p>
                <p class="sublist">Heating technology</p>
                <p class="sublist">Ventilation and air conditioning technology</p>
                <p class="sublist">Heavy current</p>
                <p class="sublist">Low current</p>
                <p class="sublist">Utilization-specific systems (sprinkler technology and similar)</p>
                <p class="sublist">Building automation</p>
                <p class="sublist">Other measures for technical installations</p>

                <p class="list-item">Feasibility studies</p>
                <p class="list-item">Simulations</p>
                <p class="list-item">Energy optimization</p>
                <p class="list-item">Inventory and analysis</p>
                <p class="list-item">Retro-fit of system technology</p>
                <p class="list-item">Technical due diligence</p>
                <p class="list-item">ESG consulting</p>
            </div>
            <div class="TGA-subcontainer2">
                <div class="TGA image-container">
                    <button class="img-button" onclick="popup('/Bilder/3DModellTGA.png')">
                        <img src="{{ url_for('static', filename='/Bilder/3DModellTGA.png') }}" alt="3D-Modell TGA">
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>