<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BAE.css">
    <link rel="icon" href="/Logo/Rauten BAE.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>BAE GROUP</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/BAE.js"></script>
</head>

<body>
    <menu-bar></menu-bar>
    <copyright-bae></copyright-bae>

    <div class="TGA Bild"></div>
    <div id="TGA" class="ContainerTGA">
        <h2>Technical building equipment.</h2>
        <div class="TGA-container">
            <div class="TGA-subcontainer1">
                <p>Building without technology is like the human body without its blood vessels and muscles: not
                    survivable. <br>
                    The technology in buildings is the bloodstream and muscles of every property. She
                    ensures that real estate is usable. It includes all technical systems required for the
                    Operation and well-being within a building are essential. These systems
                    not only ensure the smooth running of daily life, but also support
                    contributes significantly to the efficiency, safety and environmental friendliness of
                    buildings.<br><br>
                    Today, technical building equipment plays a central role in the development and
                    Renovation of buildings. Whereas previously only the location and design of the building mattered
                    Today, building technology is another central pillar in the context of sustainability
                    in the design of contemporary buildings. Sustainable building technology ensures this
                    Energy efficiency of buildings and therefore low additional costs. Because energy has become
                    expensive.
                    <br> <br>
                    With our business area of ​​technical building equipment, we provide everything
                    Engineering services relating to technical building equipment. We set high standards
                    Value on the energy efficiency of buildings, that is part of our self-image and
                    demands as engineers.
                </p>
            </div>
            <div class="TGA-subcontainer2">
                <h1>Overview of services:</h1><br>
                <p class="list-item">Planning and monitoring of all service phases and all system groups
                    according to HOAI:</p>
                <p class="sublist">Sanitary technology</p>
                <p class="sublist">Heating technology</p>
                <p class="sublist">Ventilation and air conditioning technology</p>
                <p class="sublist">High current</p>
                <p class="sublist">Low current</p>
                <p class="sublist">Usage-specific systems (sprinkler technology and similar)</p>
                <p class="sublist">Building automation</p>
                <p class="sublist">Other measures for technical systems</p>

                <p class="list-item">Feasibility studies</p>
                <p class="list-item">Simulations</p>
                <p class="list-item">Energy optimizations</p>
                <p class="list-item">Inventory and analysis</p>
                <p class="list-item">Retro fit of plant technology</p>
                <p class="list-item">Technical Due Diligence</p>
                <p class="list-item">ESG advice</p>
            </div>
            <div class="TGA-subcontainer2">
                <div class="TGA image-container">
                    <button class="img-button" onclick="popup('/Bilder/3DModellTGA.png')">
                        <img src="/Bilder/3DModellTGA.png" alt="3D-Modell TGA">
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>