* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-margin-top: 80px;
  scroll-behavior: smooth;
  font-family: Trebuchet MS, sans-serif;
}

body {
  overflow-x: hidden !important;
}

#cookie-banner {
  position: fixed;
  max-width: 450px;
  width: calc(100% - 20px);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border: #3498db solid 1px;
  border-radius: 8px;
  padding: 10px;
  hyphens: auto;
  word-wrap: break-word;

  p {
    margin: 12px 0 0 0;
    line-height: 1.1;
  }

  div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
    width: 100%;

    button {
      width: calc(50% - 5px);
      height: 40px;
      background-color: #017AC0;
      border: #017AC0 solid 1px;
      border-radius: 5px;
      color: white;
    }

    button:hover {
      background-color: #01609C;
    }

    button:active {
      background-color: #015080;
    }
  }
}

#menuBar {
  width: 100%;
  height: 80px;
  background-color: #ffffffaa;
  text-transform: uppercase;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 15%;

  #logo {
    height: 40px;
    filter: drop-shadow(0 0 2px #fff);
  }

  div {
    flex-grow: 1;

    a {
      color: black;
    }

    a:hover {
      color: #017AC0;
    }
  }
}

#footer {
  background-color: #017AC0;
  padding: 5% 30%;

  h3 {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 2% 0;
  }

  h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 2% 0;
  }

  .links {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 3% 0;

    a {
      font-weight: bold;
      color: #015080;
      margin: 0 3%;
    }

    a:hover {
      color: #01446d;
    }

    a:active {
      color: #013657;
    }
  }

  .form {

    input,
    textarea {
      width: 100%;
      padding: 10px;
    }

    input::placeholder,
    textarea::placeholder {
      font-weight: bold;
    }

    #submit {
      background-color: #015080;
      color: #fff;
      font-weight: bold;
      border: #017AC0 solid 1px;
      cursor: pointer;
    }

    #submit:hover {
      background-color: #01446d;
    }

    #submit:active {
      background-color: #013657;
    }
  }
}

#footerfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #015080;
  color: #fff;
  font-weight: bold;
  padding: 1.5% 0;

  a {
    color: #fff;
  }
}

#ContainerVideo {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#socialmedia {
  height: 60px;
  background-color: #ffffffaa;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 40px;

  div {
    margin: 0 10px;

    a {
      color: black;
    }

    a:hover {
      color: #017AC0;
    }
  }
}

#ueberuns {
  background-color: #fff;
  padding: 5% 20%;

  h3 {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #017AC0;
    margin: 0 0 2% 0;
  }

  h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 5% 0;
  }

  p {
    font-size: 1.5em;
  }
}

#geschaeftsfelder {
  background-color: #eee;
  padding: 5% 20%;

  h3 {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #017AC0;
    margin: 0 0 2% 0;
  }

  h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 5% 0;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2px;
    background-color: #ccc;

    div {
      background-color: #eee;
      padding: 20px;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      h4 {
        color: #000;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

#standorte {
  background-color: #fff;
  padding: 5% 5%;

  h3 {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #017AC0;
    margin: 0 0 2% 0;
  }

  h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 5% 0;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;

    .standort {
      position: relative;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 0;
        transition: all 0.25s ease;
        position: absolute;
        top: 0;
        left: 0;
        background: #017AC0aa;
        width: 100%;
        height: 100%;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
      }
    }

    .standort:hover h4 {
      opacity: 1;
    }
  }
}

#HPReferenzen {
  background-color: #fff;
  padding: 5% 20%;

  h3 {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #017AC0;
    margin: 0 0 2% 0;
  }

  h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 5% 0;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;

    div {
      position: relative;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 0;
        transition: all 0.25s ease;
        position: absolute;
        top: 0;
        left: 0;
        background: #017AC0aa;
        width: 100%;
        height: 100%;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
      }
    }

    div:hover a {
      opacity: 1;
    }
  }

  .referenzenButton {
    max-width: fit-content;
    margin-inline: auto;
    margin: 5% auto;

    a {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      background-color: #017AC0;
      padding: 15px 20px;
      border-radius: 50px;
    }

    a:hover {
      background-color: #01609C;
    }

    a:active {
      background-color: #015080;
    }
  }
}

#Geschaeftsfeld {
  .GFBild {
    position: sticky;
    top: 0;
    height: 60vh;
    z-index: -1;

    img {
      position: absolute;
      width: 100%;
      min-height: 60vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      position: absolute;
      font-size: 3em;
      color: #fff;
      background-color: #00000080;
      padding: 50% 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .GFText {
    background-color: #fff;
    padding: 5% 20%;

    .columns {
      font-size: 1.5em;
      line-height: 1.3;
      column-count: 2;
      column-gap: 20px;

      p {
        padding: 0 0 1.5em 0;
      }
    }

    h1 {
      font-size: 3em;
      text-align: center;
      text-transform: uppercase;
      margin: 6% 0;
    }

    .overview {
      background-color: #eee;
      margin: -3% -50% -10% -50%;
      padding: 5% 50% 10% 50%;
    }

    .list {
      display: flex;
      font-size: 1.5em;
      line-height: 1.3;
      margin: 0 0 5% 0;

      ul {
        flex: 1;

        li {
          margin: 10px 2vw;
        }
      }
    }

    button {
      margin: 0% -5%;
      border: none;
      background-color: transparent;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }
}

#Referenzen {
  .RBild {
    position: sticky;
    top: 0;
    height: 60vh;
    z-index: -1;

    img {
      position: absolute;
      width: 100%;
      min-height: 60vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      position: absolute;
      font-size: 3em;
      color: #fff;
      background-color: #00000080;
      padding: 50% 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .RProjekte {
    background-color: #fff;
    padding: 5% 20% 4% 20%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;

    .projekt {
      position: relative;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      a {
        display: flex;
        align-items: flex-end;
        opacity: 0;
        transition: all 0.25s ease;
        position: absolute;
        top: 0;
        left: 0;
        background: #017AC0aa;
        width: 100%;
        height: 100%;
        color: #fff;

        div {
          margin: 15px;
        }

        h1 {
          text-transform: uppercase;
          margin: 0 0 8px 0;
        }
      }
    }

    .projekt:hover a {
      opacity: 1;
    }
  }

  .RButton {
    background-color: #fff;
    padding: 0 0 4% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      border: none;
      background-color: #017AC0;
      color: #fff;
      font-weight: bold;
      font-size: 1.2em;
      padding: .7em 0;
      width: 14em;
      cursor: pointer;
      margin: 1% 0;
    }

    button:hover {
      background-color: #01609C;
    }

    button:active {
      background-color: #015080;
    }

    .showless {
      display: none;
    }
  }
}

#Projekt {
  background-color: #fff;
  padding: 5% 3%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;

  .PBild {
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

  .PText {
    height: 500px;

    h1 {
      font-size: 3em;
      text-transform: uppercase;
      margin: 0 0 5% 0;
    }

    table {
      border-collapse: collapse;
      width: 69%;

      tr {
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        td {
          padding: 1em;
        }

        .feature {
          font-weight: bold;
          color: #017AC0;
        }
      }
    }
  }
}

#Karriere {
  .KBild {
    position: sticky;
    top: 0;
    height: 60vh;
    z-index: -1;

    img {
      position: absolute;
      width: 100%;
      min-height: 60vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      position: absolute;
      font-size: 3em;
      color: #fff;
      background-color: #00000080;
      padding: 50% 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .KText {
    background-color: #fff;
    padding: 5% 20%;

    h3 {
      font-size: 1.3em;
      text-align: center;
      text-transform: uppercase;
      color: #017AC0;
      margin: 0 0 2% 0;
    }

    h1 {
      font-size: 3em;
      text-align: center;
      text-transform: uppercase;
      margin: 0 0 5% 0;
    }

    p {
      font-size: 1.3em;
    }

    .Vorwort {
      margin: 0 0 10% 0;
    }

    .Benefits {
      background-color: #017AC0;
      padding: 5% 50%;
      margin: 0 -50%;

      h3,
      h1,
      h4,
      p {
        color: #fff;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1px;
        background-color: #fff;

        div {
          background-color: #017AC0;
          padding: 20px;
          text-align: center;

          h4 {
            font-size: 20px;
            padding: 20px 0;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  .KStellen {
    background-color: #fff;
    padding: 0 20% 5% 20%;

    h3 {
      font-size: 1.3em;
      text-align: center;
      text-transform: uppercase;
      color: #017AC0;
      margin: 0 0 2% 0;
    }

    h1 {
      font-size: 3em;
      text-align: center;
      text-transform: uppercase;
      margin: 0 0 5% 0;
    }

    p {
      font-size: 1.3em;
    }

    .filter {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 30px;
      margin: 0 0 5% 0;

      div {
        display: flex;
        flex-direction: column;
        justify-content: end;

        label {
          font-size: 20px;
          margin: 0 0 15px 0;
        }

        select,
        button {
          padding: 10px;
          font-size: 20px;
          border: 1px solid #ccc;
        }

        button {
          color: #fff;
          background-color: #017AC0;
        }

        button:hover {
          background-color: #01609C;
        }

        button:active {
          background-color: #015080;
        }
      }
    }

    .Stellen {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      grid-auto-rows: 1fr;

      .stellenanzeige {
        display: grid;
        align-items: center;
        grid-template: "name standort link" / 2fr 1fr 1fr;
        padding: 10px 0;
        border-top: 1px solid #000;

        .Stellenname {
          grid-area: name;

          a {
            color: #000;
          }
        }

        .Standorte {
          grid-area: standort;
          color: #017AC0;

          p {
            font-size: 20px;
          }
        }

        .SButton {
          grid-area: link;
          text-align: center;

          a {
            padding: 10px;
            font-size: 20px;
            background-color: #017AC0;
            color: #fff;
            border: 1px solid #ccc;
          }

          a:hover {
            background-color: #01609C;
          }

          a:active {
            background-color: #015080;
          }
        }
      }

      .stellenanzeige:last-child {
        border-bottom: 1px solid #000;
      }
    }
  }
}

#Stelle {
  .SBild {
    position: sticky;
    top: 0;
    height: 60vh;
    z-index: -1;

    img {
      position: absolute;
      width: 100%;
      min-height: 60vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      position: absolute;
      font-size: 3em;
      color: #fff;
      background-color: #00000080;
      padding: 50% 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .SText {
    background-color: #fff;
    padding: 5% 20% 0 20%;

    h3 {
      font-size: 1.3em;
      text-align: center;
      text-transform: uppercase;
      color: #017AC0;
      margin: 0 0 2% 0;
    }

    h2 {
      font-size: 2em;
      text-transform: uppercase;
      color: #017AC0;
      margin: 0 0 2% 0;
    }

    h1 {
      font-size: 3em;
      text-align: center;
      text-transform: uppercase;
      margin: 0 0 5% 0;
    }

    p {
      font-size: 1.3em;
    }

    ul {
      font-size: 1.4em;
      line-height: 1.3;

      li {
        margin: 10px 2vw;
      }
    }

    .Titel {
      margin: 0 0 5% 0;

      p {
        text-align: center;
        padding: 0 10%;
      }
    }

    .Aufgaben,
    .Anforderungen,
    .Formular {
      background-color: #eee;
      padding: 5% 50%;
      margin: 0 -50%;
    }

    .Formular {
      h2 {
        text-align: center;
        padding: 0 0 2% 0
      }

      form {
        padding: 0 20%;

        input,
        select,
        textarea {
          width: 100%;
          padding: 10px;
          border: none;
        }

        input::placeholder,
        select::placeholder,
        textarea::placeholder {
          font-weight: bold;
        }

        #submit {
          background-color: #015080;
          color: #fff;
          font-weight: bold;
          border: none;
          cursor: pointer;
        }

        #submit:hover {
          background-color: #01446d;
        }

        #submit:active {
          background-color: #013657;
        }

        .fileinput {
          display: flex;
          flex-direction: row;
          align-items: center;

          input {
            cursor: pointer;
            padding: 0 0 10px 0;
            font-size: 1.2em;
          }

          input::file-selector-button {
            display: none;
          }

          div {
            padding: 0 10px;
          }

          label {
            cursor: pointer;
            font-size: 1.2em;
          }

          img {
            cursor: pointer;
            height: 3em;
          }
        }
      }
    }
  }
}

#ImpressumDatenschutz {
  .IDBild {
    position: sticky;
    top: 0;
    height: 60vh;
    z-index: -1;

    img {
      position: absolute;
      width: 100%;
      min-height: 60vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      position: absolute;
      font-size: 3em;
      color: #fff;
      background-color: #00000080;
      padding: 50% 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .IDText {
    background-color: #fff;
    padding: 5% 20%;

    h2 {
      font-size: 1.4em;
      padding: 5px 0;
      color: #017AC0;
    }

    h1 {
      font-size: 3em;
      text-align: center;
      text-transform: uppercase;
      margin: 0 0 5% 0;
    }

    p {
      font-size: 1.3em;
      padding: 0 0 20px;
    }

    h4 {
      font-size: 1.4em;
      padding: 0 0 5px 0;
    }
  }
}