<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div id="footer">
        <h3>Interesse?</h3>
        <h1>Kontakt</h1>
        <div class="links">
            <a href="">E-mail</a>
            <a href="">LinkedIn</a>
            <a href="">Xing</a>
            <a href="">Facebook</a>
            <a href="">Instagram</a>
        </div>
        <div class="form">
            <form method="POST">
                <input id="name" name="name" placeholder="Name*" required="" type="text" value=""> <br><br>
                <input id="email" name="email" placeholder="Email*" required="" type="email" value=""> <br><br>
                <textarea id="message" name="message" placeholder="Message" rows="5"></textarea> <br><br>
                <input id="submit" name="submit" type="submit" value="Absenden"> <br><br>
            </form>
        </div>
    </div>
    <div id="footerfooter">
        <p>
            <a href="">Impressum</a> | 
            <a href="">Datenschutz</a>
        </p>
    </div>
</body>

</html>