<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar%}

    <h1>Impressum.</h1>

    <h2>Angaben gemäß § 5 TMG:</h2>
    <h3>BAE GmbH</h3>
    <p>
        Raststraße 20 <br>

        96450 Coburg<br>
        <br>
        <b>Vertreten durch:</b><br>
        Jürgen Kerscher<br>
        Michael Hölzle<br>
        <br>
        <b>Registereintrag:</b><br>
        Eintragung im Handelsregister.<br>
        Registergericht: Amtsgericht Coburg<br>
        Registernummer: HRB 6357<br>
        <br>
        <b>Umsatzsteuer:</b><br>
        Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
        DE 327804364<br>
        <br>
        <b>Kontakt</b>:<br>
        Telefon: +49 9561 97 69 983<br>
        E-Mail: office@b-a-e.eu<br>
        <br>
    </p>

    <h3>BAE Frankfurt GmbH</h3>
    <p>
        Berner Straße 119<br>
        60437 Frankfurt am Main<br>
        <br>
        <b>Vertreten durch:</b><br>
        Jürgen Kerscher<br>
        Michael Hölzle<br>
        <br>
        <b>Registereintrag:</b><br>
        Eintragung im Handelsregister.<br>
        Registergericht: Amtsgericht Frankfurt <br>
        Registernummer: HRB 133358<br>
        <br>
        <b>Kontakt</b>:<br>
        Telefon: +49 69 945 99 117<br>
        E-Mail: frankfurt@b-a-e.eu<br>
        <br>
        <br>
    </p>

    <h2>Streitschlichtung:</h2><br>
    <br>
    <p>
        Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.<br>
        <br>
        <b>Haftung für Inhalte:</b><br>
        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.<br>
        <br>
        <b>Haftung für Links:</b><br>
        Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.<br>
        <br>
        <b>Urheberrecht:</b><br>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.<br>
        <br>
        <b>Schutzrechtverletzung:</b><br>
        Wir bitten Sie uns umgehend zu kontaktieren, wenn Sie der Ansicht sind, dass durch unsere Angebote oder durch unsere Webseite Ihre Schutzrechte verletzt werden.<br>
        <br>
        Wir versichern, die zu Recht beanstanden Passagen unverzüglich zu entfernen oder zu berrichtigen. Eine Einschaltung eines Rechtbeistandes ist deshalb nicht erforderlich. Die einschaltung eines Anwaltes, das zu einer kostenpflichtigen Abnahmung führt, entspricht nicht dem wirklichen oder mutmaßlichen Willen des Schutzrechtsinhabers<br>
        <br>
        Entstandene Kosten ohne vorherige Kontaktaufnahme und ohne den Versuch der einvernehmlichen Regelung werden vollumfänglich zurückgewiesen und lösen gegebenenfalls eine Gegenklage wegen Verletzung vorgenannter Bestimmungen aus.<br>
        <br>
    </p>
</body>

</html>