<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body>
    {% include menu_bar %}

    <div id="ContainerVideo">
        <video id="video-background" class="parallax" loop autoplay muted poster="{{ url_for('static', filename='Video/Landingpage.jpg') }}">
            <source src="{{ url_for('static', filename='Video/LandingpageBAE.mp4') }}" type="video/mp4">
            <img src="{{ url_for('static', filename='Video/Landingpage.jpg') }}">
        </video>
    </div>

    <div id="CPSM">
        <div class="catchphrase">
            <h2>Your Partner For The Building Life Cycle.</h1>
        </div>
        <div class="socialmedia">
            <div><a href="https://www.linkedin.com/company/baegroup/" target="_blank">linkedin</a></div>
            <div><a href="https://www.xing.com/pages/bae-group" target="_blank">xing</a></div>
            <div><a href="https://www.facebook.com/profile.php?id=61554842673825" target="_blank">facebook</a></div>
            <div><a href="https://www.instagram.com/baegroup.eu/" target="_blank">instagram</a></div>
        </div>
    </div>

    <div id="ueberuns">
        <div class="UUBild">
            <img src="{{ url_for('static', filename='Bilder/UeberUns.jpg') }}" alt="Technische Gebäudeausrüstung">
        </div>
        <div class="UUText">
            <h3>Your Partner For The Building Life Cycle.</h3>
            <h1>Über uns</h1>
            <p>
                Die BAE GROUP repräsentiert eine vielseitige Unternehmensgruppe, die sich umfassend dem Lebenszyklus von Immobilien widmet. Unsere Kernkompetenzen erstrecken sich über acht strategische Geschäftsfelder, die die gesamte Bandbreite der Immobilienbranche abdecken. Angefangen bei der technischen Gebäudeausrüstung, über Contracting, Projektmanagement, bis hin zu digitalen Lösungen, Asset Management, Property Management, Generalplanungen und Investment Management – die BAE GROUP ist ein ganzheitlicher Partner für alle Aspekte rund um Ihre Immobilien.
            </p>
            <p>
                Mit einer Vielzahl von engagierten Mitarbeitern bilden wir ein dynamisches Team von Immobilienspezialisten, die verschiedene Perspektiven und Fachrichtungen abdecken. Unsere Experten, sei es Ingenieure, Techniker, Architekten, Betriebswirte oder Informatiker, vereinen ihre Kompetenzen, um innovative und maßgeschneiderte Lösungen für unsere Kunden zu entwickeln.
            </p>
            <p>
                Die BAE GROUP zeichnet sich nicht nur durch ihre breite Palette an Dienstleistungen aus, sondern auch durch ihre regionale Präsenz und globale Perspektive. Unsere Standorte in Deutschland und Osteuropa ermöglichen es uns, flexibel auf die Bedürfnisse unserer Kunden einzugehen und maßgeschneiderte Lösungen für jede Herausforderung zu bieten.
            </p>
        </div>
        <img class="raute1" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
        <img class="raute2" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
        <img class="raute3" src="{{ url_for('static', filename='Icons/Raute.svg') }}">
    </div>

    <div id="geschaeftsfelder">
        <h3>Was wir tun</h3>
        <h1>Geschäftsfelder</h1>

        <div class="grid">
            <div class="geschaeftsfeld">
                <a href="/Geschaeftsfelder/TGA">
                    <div>
                        <img src="{{ url_for('static', filename='Bilder/Gebäudetechnik.jpg') }}" alt="Technische Gebäudeausrüstung">
                    </div>
                    <h4>Technische <br>Gebäudeausrüstung</h4>
                </a>
            </div>

            <div class="geschaeftsfeld">
                <a href="/Geschaeftsfelder/Contracting">
                    <div>
                        <img src="{{ url_for('static', filename='Bilder/Contracting.jpg') }}" alt="Contracting">
                    </div>
                    <h4>Contracting</h4>
                </a>
            </div>

            <div class="geschaeftsfeld">
                <a href="/Geschaeftsfelder/Projektmanagement">
                    <div>
                        <img src="{{ url_for('static', filename='Bilder/Projektmanagement.jpg') }}" alt="Projektmanagement.jpg">
                    </div>
                    <h4>Projekt <br>Management</h4>
                </a>
            </div>

            <div class="geschaeftsfeld">
                <a href="/Geschaeftsfelder/DigitalSolutions">
                    <div>
                        <img src="{{ url_for('static', filename='Bilder/DigitalSolution.jpg') }}" alt="Digital Soluation">
                    </div>
                    <h4>Digital <br>Solutions</h4>
                </a>
            </div>

            <div class="geschaeftsfeld">
                <a href="/Geschaeftsfelder/AssetManagement">
                    <div>
                        <img src="{{ url_for('static', filename='Bilder/Assetmanagement.jpg') }}" alt="Assetmanagement.jpg">
                    </div>
                    <h4>Asset <br>Management</h4>
                </a>
            </div>

            <div class="geschaeftsfeld">
                <a href="/Geschaeftsfelder/PropertyManagement">
                    <div>
                        <img src="{{ url_for('static', filename='Bilder/Propertymanagement.jpg') }}" alt="Propertymanagement">
                    </div>
                    <h4>Property <br>Management</h4>
                </a>
            </div>

            <div class="geschaeftsfeld">
                <a href="/Geschaeftsfelder/Generalplanung">
                    <div>
                        <img src="{{ url_for('static', filename='Bilder/Generalplanung.jpg') }}" alt="Generalplanung">
                    </div>
                    <h4>Generalplanung</h4>
                </a>
            </div>

            <div class="geschaeftsfeld">
                <a href="/Geschaeftsfelder/InvestmentManagement">
                    <div>
                        <img src="{{ url_for('static', filename='Bilder/Investmentmanagement.jpg') }}" alt="Investmentmanagement">
                    </div>
                    <h4>Investment <br>Management</h4>
                </a>
            </div>
        </div>
    </div>

    <div id="standorte">
        <h3>Wo wir sind</h3>
        <h1>Standorte</h1>
        <div class="normal">
            <div class="grid">
                {% for item in standorte %}
                <div class="standort">
                    <img src="{{ url_for('static', filename='Bilder/'+item.Bild) }}" alt="Coburg">
                    <div>
                        <h2>{{item.Standort}}</h2>
                        <h4>{{item.Firma}}</h4>
                        <p>
                            {{item.Adresse}} <br>
                            {{item.Email}} <br>
                            {{item.Telefonnummer}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="mobile">
            <div class="grid">
                {% for item in standorte %}
                <button class="standortbtn" onclick="scrollToS('{{item.Standort}}', this)">{{item.Standort}}</button>
                {% endfor %}
            </div>
            <div class="swipe">
                <div class="arrow left">
                    <button onclick="scrollPrev()">&#10094;</button>
                </div>
                <div class="scroll" id="scroll">
                    {% for item in standorte %}
                    <div class="standort" id="{{ item.Standort }}">
                        <img src="{{ url_for('static', filename='Bilder/'+item.Bild) }}" alt="Coburg">
                        <div>
                            <h2>{{item.Standort}}</h2>
                        </div>
                        <h4>{{item.Firma}}</h4>
                        <p>
                            {{item.Adresse}} <br>
                            {{item.Email}} <br>
                            {{item.Telefonnummer}}
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <div class="arrow right">
                    <button onclick="scrollNext()">&#10095;</button>
                </div>
            </div>
        </div>
    </div>

    <div id="HPReferenzen">
        <h3>Was wir gemacht haben</h3>
        <h1>Referenzen</h1>
        <div class="grid">
            {% set ns = namespace(counter=0) %}
            {% for item in data %}
            {% if item.Bild != '' and ns.counter < 5 %}
            <div class="projektbild">
                <img src="{{ url_for('static', filename='Bilder/Referenzen/' + item.Bild) }}" alt="{{ item.Projekt }}">
                <a href="/Referenzen/{{ item.Bild[:-4] }}">
                    <h4>{{ item.Projekt }}</h4>
                </a>
            </div>
            {% set ns.counter = ns.counter + 1 %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="referenzenButton">
            <h2><a href="/Referenzen">Mehr Referenzen</a></h2>
        </div>
    </div>
    {% include footer %}
</body>

</html>