<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAE GROUP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='BAE.js')}}"></script>
</head>

<body id="home-page">
    {% include menu_bar %}

    <div id="ContainerVideo">
        <video id="video-background" class="parallax" loop autoplay muted
            poster="{{ url_for('static', filename='Video/Landingpage.jpg') }}">
            <source src="{{ url_for('static', filename='Video/LandingpageBAE.mp4') }}" type="video/mp4">
            <img src="{{ url_for('static', filename='Video/Landingpage.jpg') }}">
        </video>
    </div>
    <div class="Hauptseite">
        <div id="textContainer">
            <div id="textElement1" class="textElement">
                Your Partner For The Building Life Cycle.
            </div>
            <div id="textElement2" class="textElement">
                #TechnischeGebäudeausrüstung #Contracting #ProjectManagement #DigitalSolutions
            </div>
            <div id="textElement3" class="textElement">
                #AssetManagement #PropertyManagement #Generalplanung #InvestmentManagement
            </div>
        </div>


        <div id="ueberuns" class="ContainerUeberuns">
            <h1>Über uns.</h1>
            <div class="Ueberuns-subcontainer0">
                <p>
                    Die BAE GROUP repräsentiert eine vielseitige Unternehmensgruppe, die sich umfassend dem Lebenszyklus von Immobilien widmet. Unsere Kernkompetenzen erstrecken sich über acht strategische Geschäftsfelder, die die gesamte Bandbreite der Immobilienbranche abdecken. Angefangen bei der technischen Gebäudeausrüstung, über Contracting, Projektmanagement, bis hin zu digitalen Lösungen, Asset Management, Property Management, Generalplanungen und Investment Management – die BAE GROUP ist ein ganzheitlicher Partner für alle Aspekte rund um Ihre Immobilien.<br><br>
                    Mit einer Vielzahl von engagierten Mitarbeitern bilden wir ein dynamisches Team von Immobilienspezialisten, die verschiedene Perspektiven und Fachrichtungen abdecken. Unsere Experten, sei es Ingenieure, Techniker, Architekten, Betriebswirte oder Informatiker, vereinen ihre Kompetenzen, um innovative und maßgeschneiderte Lösungen für unsere Kunden zu entwickeln.<br><br>
                    Die BAE GROUP zeichnet sich nicht nur durch ihre breite Palette an Dienstleistungen aus, sondern auch durch ihre regionale Präsenz und globale Perspektive. Unsere Standorte in Deutschland und Osteuropa ermöglichen es uns, flexibel auf die Bedürfnisse unserer Kunden einzugehen und maßgeschneiderte Lösungen für jede Herausforderung zu bieten.<br><br>

                </p>
            </div>
        </div>

        <div id="leistungen" class="ContainerLeistungen">
            <h1>Geschäftsfelder.</h1>

            <div class="geschaeftsfelder-container">

                <div class="geschaeftsfeld">
                    <a href="/Geschaeftsfelder/TGA">
                        <img src="{{ url_for('static', filename='Bilder/Gebäudetechnik.jpg') }}"
                            alt="Technische Gebäudeausrüstung">
                        <p>Technische Gebäudeausrüstung</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/Geschaeftsfelder/Contracting">
                        <img src="{{ url_for('static', filename='Bilder/Contracting.jpg') }}" alt="Contracting">
                        <p>Contracting</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/Geschaeftsfelder/Projektmanagement">
                        <img src="{{ url_for('static', filename='Bilder/Projektmanagement.jpg') }}"
                            alt="Projektmanagement.jpg">
                        <p>Projekt Management</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/Geschaeftsfelder/DigitalSolutions">
                        <img src="{{ url_for('static', filename='Bilder/DigitalSoluation.jpg') }}"
                            alt="Digital Soluation">
                        <p>Digital Solutions</p>
                    </a>
                </div>


                <div class="geschaeftsfeld">
                    <a href="/Geschaeftsfelder/AssetManagement">
                        <img src="{{ url_for('static', filename='Bilder/Assetmanagement.jpg') }}"
                            alt="Assetmanagement.jpg">
                        <p>Asset Management</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/Geschaeftsfelder/PropertyManagement">
                        <img src="{{ url_for('static', filename='Bilder/Propertymanagement.jpg') }}"
                            alt="Propertymanagement">
                        <p>Property Management</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/Geschaeftsfelder/Generalplanung">
                        <img src="{{ url_for('static', filename='Bilder/Generalplanung.jpg') }}" alt="Generalplanung">
                        <p>Generalplanung</p>
                    </a>
                </div>

                <div class="geschaeftsfeld">
                    <a href="/Geschaeftsfelder/InvestmentManagement">
                        <img src="{{ url_for('static', filename='Bilder/Investmentmanagement.jpg') }}"
                            alt="Investmentmanagement">
                        <p>Investment Management</p>
                    </a>
                </div>
            </div>
        </div>

        <div id="standorte" class="ContainerStandorte">
            <h1>Standorte.</h1>

            <div class="standorte-container">

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Frankfurt.jpg') }}" alt="Frankfurt">
                    </div>
                    <p>Frankfurt am Main</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Berlin.jpg') }}" alt="Berlin">
                    </div>
                    <p>Berlin</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Muenchen.jpg') }}" alt="München">
                    </div>
                    <p>München</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Stuttgart.jpg') }}" alt="Stuttgart">
                    </div>
                    <p>Stuttgart</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Coburg.jpg') }}" alt="Coburg">
                    </div>
                    <p>Coburg</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Bamberg.jpg')}}" alt="Bamberg">
                    </div>
                    <p>Bamberg</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Deggendorf.jpg')}}" alt="Deggendorf">
                    </div>
                    <p>Deggendorf</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Sofia.jpg')}}" alt="Sofia">
                    </div>
                    <p>Sofia</p>
                </div>

                <div class="standort">
                    <div class="circle-img">
                        <img src="{{ url_for('static', filename='Bilder/Varna.jpg')}}" alt="Varna">
                    </div>
                    <p>Varna</p>
                </div>
            </div>
        </div>

        <div id="kontakte" class="ContainerKontakt">
            <div class="Kontakt-container">

                <h1>Kontakt.</h1>
                <div class="Kontakt-subcontainer2 mobile">
                    <div class="Kontakt image-container">
                        <img src="{{ url_for('static', filename='Bilder/MAP_Deutschland.png')}}" alt="Map Deutschland">
                    </div>
                </div>
                <div class="Kontakt-subcontainer1">
                    <h1>Standorte in Deutschland:</h1>
                    <div class="kontakte">
                        <h2>Frankfurt am Main</h2>
                        <p><b>BAE Frankfurt GmbH (Hauptsitz)</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Berner Straße 119</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">60437 Frankfurt am Main</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"><span class="icon-text">frankfurt@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"><span class="icon-text">+49 69 945 99 117</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Berlin</h2>

                        <p><b>BAE Frankfurt GmbH, Repräsentanz Berlin</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Erich-Weinert-Straße 141</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">10409 Berlin</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"><span class="icon-text">berlin@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"><span class="icon-text">+49 69 945 99 117</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>München</h2>

                        <p><b>BAE GmbH, Niederlassung München</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Humboldtstraße 6</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">85609 München</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"><span class="icon-text">office@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"><span class="icon-text">+49 89 24 41 85 960</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Stuttgart</h2>

                        <p><b>BAE Frankfurt GmbH </b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Hafenbahnstraße 10</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">70327 Stuttgart</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"><span class="icon-text">stuttgart@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"><span class="icon-text">+49 69 945 99 117</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Coburg</h2>

                        <p><b>BAE GmbH (Hauptsitz)</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Raststraße 20</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">96450 Coburg</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"><span class="icon-text">office@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"><span class="icon-text">+49 9561 97 69 983</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Bamberg</h2>

                        <p><b>BAE GmbH, Niederlassung Bamberg</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Kirschäckerstraße 27</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">96052 Bamberg</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"><span class="icon-text">office@b-a-e.eu </span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"><span class="icon-text">+49 9561 97 69 983 </span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Deggendorf</h2>

                        <p><b>BAE GmbH, Niederlassung Deggendorf</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">Itzlinger Weg 2</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">94469 Deggendorf</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"><span class="icon-text">office@b-a-e.eu</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"></i><span class="icon-text"> +49 991 40 22 9830</span></p>
                    </div>
                </div>

                <div class="Kontakt-subcontainer2 desktop">
                    <div class="Kontakt image-container">
                        <img src="{{ url_for('static', filename='Bilder/MAP_Deutschland.png')}}" alt="Map Deutschland">
                    </div>
                </div>

                <div class="Kontakt-subcontainer4 mobile">
                    <div class="Kontakt image-container">
                        <img src="{{ url_for('static', filename='Bilder/MAP_Bulgarien.jpg')}}" alt="Map Bulgarien">
                    </div>
                </div>
                <div class="Kontakt-subcontainer3">
                    <h1>Standorte in Bulgarien:</h1>
                    <div class="kontakte">
                        <h2>Sofia</h2>

                        <p><b>BAE OOD (Hauptsitz)</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"><span class="icon-text">r.c. Mladost 2, bl. 254, ground
                                floor, office 1</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"><span class="icon-text">1799 Sofia</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"><span class="icon-text">office@b-a-e.bg</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"><span class="icon-text"> +359 2 416 74 22</span></p>
                    </div>

                    <div class="kontakte">
                        <h2>Varna</h2>

                        <p><b>BAE OOD, Niederlassung Varna</b></p>
                        <p><img src="{{ url_for('static', filename='/Icons/location.svg') }}" alt="location"> <span class="icon-text">Slivnitsa bul. 166a, floor 5,
                                office 39/40</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/office.svg') }}" alt="office"> <span class="icon-text">9009 Varna</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/mail.svg') }}" alt="mail"><span class="icon-text">office@b-a-e.bg</span></p>
                        <p><img src="{{ url_for('static', filename='/Icons/phone.svg') }}" alt="phone"><span class="icon-text">+359 887 158 938</span></p>
                    </div>
                </div>

                <div class="Kontakt-subcontainer4 desktop">
                    <div class="Kontakt image-container">
                        <img src="{{ url_for('static', filename='Bilder/MAP_Bulgarien.jpg')}}" alt="Map Bulgarien">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>