<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='BAE.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo/Rauten BAE.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>BAE GROUP</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='BAE.js') }}"></script>
</head>

<body>
    {% include menu_bar%}

    <div class="containerbildkarriere">
        <h1>Karriere in der BAE GROUP.</h1>
    </div>
    <div class="Hauptseite">


        <div class="karriere-container">
            <h1> Bereit die Immobilien-Welt zu verändern?</h1>
        </div>

        <div class="containerkarrierevorwort">
            <p>
                Wir gestalten das Heute und Morgen von Gebäuden – als BAE Group betrachten wir das Thema Immobilien
                ganzheitlich. Durch unsere Arbeit an zentralen Themen gegliedert in die acht strategischen
                Geschäftsfelder Technische Gebäudeausrüstung, Contracting, Projektmanagement, Digital Solutions, Asset
                Management, Property Management, Generalplanung und Investment Management, bringen wir alle
                gebäudebezogenen Lösungen unter ein Dach.
                Wir suchen dich!
            </p>
        </div>

        <div class="benefits">
            <h2><b>Deshalb solltest du zu BAE kommen:</b></h2>
            <ul>
                <li> Deine Arbeitszeit innerhalb der 40-Stunden-Woche kannst du variabel gestalten, nach Absprache ist
                    auch mobiles Arbeiten möglich.</li>
                <li> Wir haben deine Zukunft im Blick. Bei uns hast du die Möglichkeit dich über interne und externe
                    Schulungen oder Seminare weiterzuentwickeln und innerhalb der spannenden Geschäftsfelder zu
                    wechseln. </li>
                <li> Bei uns herrscht ein kollegiales Miteinander mit direkten Kommunikationswegen. </li>
                <li> Neben einer attraktiven Vergütung bieten wir dir außerdem einen Zuschuss zur VWL,
                    Direktversicherung und BAV und dein persönliches Verkehrsmittel, auch zur privaten Nutzung.</li>
                <li> Diversität, Respekt, Akzeptanz und ein Arbeiten auf Augenhöhe sind für uns besonders wichtig.</li>
                <li> Gemeinsame Teamevents machen uns auch abseits der Arbeit zu einem starken Team.</li>
            </ul>

        </div>

        <div class="TitleStellen">
            <h1>Offene Stellen:</h1>
        </div>

        <div class="filter">
            <div>
                <label for="ort"><b>Standort:</b></label>
                <select id="ort" name="ort">
                    <option value="stellenanzeige">Alle</option>
                    <option value="frankfurt">Frankfurt am Main</option>
                    <option value="berlin">Berlin</option>
                    <option value="muenchen">München</option>
                    <option value="coburg">Coburg</option>
                    <option value="bamberg">Bamberg</option>
                    <option value="deggendorf">Deggendorf</option>
                    <option value="sofia">Sofia</option>
                    <option value="varna">Varna</option>
                    <option value="stuttgart">Stuttgart</option>
                </select>
            </div>
            <div>
                <label for="anstellung"><b>Anstellung:</b></label>
                <select id="anstellung" name="anstellung">
                    <option value="stellenanzeige">Alle</option>
                    <option value="voll">Vollzeit</option>
                    <option value="teil">Teilzeit</option>
                    <option value="student">Werkstudent</option>
                    <option value="azubi">Auszubildende</option>
                </select>
            </div>
            <div>
                <label for="taetigkeit"><b>Tätigkeit:</b></label>
                <select id="taetigkeit" name="taetigkeit">
                    <option value="stellenanzeige">Alle</option>
                    <option value="azubi">Auszubildende</option>
                    <option value="systemplaner">Systemplaner</option>
                    <option value="fachplaner">Fachplaner</option>
                    <option value="projektleiter">Projektleiter</option>
                    <option value="fuehrungspersonal">Führungspersonal</option>
                    <option value="assistenz">Assistenz</option>
                    <option value="hr">HR</option>
                    <option value="marketing">Marketing, Social media</option>
                </select>
            </div>

            <button onclick="filterApply()"><b>Filter anwenden</b></button>
        </div>

        <div id="stellen">
            {% for item in data %}
            <div id="karriere" class="stellenanzeige {{item.Tags}}">

                <div class="karriereBox">
                    <div class="stellenanzeigeText">
                        <div class="ueberschrift">
                            <h2>{{item.Name}}</h2>
                        </div>
                        <div class="unterueberschrift">
                            <p>Standorte: {{item.Standort}}</p>
                        </div>
                        <div class="stellenanzeigeRechts">
                            <h2>
                                {{item.Beschreibung}}
                            </h2>
                        </div>
                    </div>
                    <div class="stellenanzeigeBild">
                        <img src="{{ url_for('static', filename='Bilder/'+item.Bild) }}" alt="{{item.Bild}}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="footer">
    </div>

</body>

</html>