<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div id="copyright">
        BAE-GROUP 2024
        <a href="/Impressum" class="impressum">Impressum</a>
        <a href="/Datenschutz" class="datenschutz">Datenschutz</a>
    </div>

    <div id="menuBar" class="desktop-menu">
        <div>
            <button id="hamburgerIcon" type="button" onclick="openMobileMenu()">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <!-- BAEGroup Logo -->
        <div id="logoLink">
            <a href="/" onclick="navigateToHomePage()">
                <img id="logo" src="{{ url_for('static', filename='/Logo/BAE_Group_Logo.png') }}"  alt="Logo_BAE_Group">
            </a>
        </div>

        <!-- Elemente in der Leiste  -->
        <div class="menu-links">
            <div><a href="/#ContainerVideo">Startseite</a></div>
            <div><a href="/#ueberuns">Über uns</a></div>
            <div id="geschaeftsfelder">
                <a href="/#leistungen">Geschäftsfelder</a>
                <div class="dropdown-content">
                    <div class="dropdown-item"><a href="/Geschaeftsfelder/TGA">Technische Gebäudeausrüstung</a>
                    </div>
                    <div class="dropdown-item"><a href="/Geschaeftsfelder/Contracting">Contracting</a></div>
                    <div class="dropdown-item"><a href="/Geschaeftsfelder/Projektmanagement">Projekt Management</a>
                    </div>
                    <div class="dropdown-item"><a href="/Geschaeftsfelder/DigitalSolutions">Digital Solutions</a>
                    </div>
                    <div class="dropdown-item"><a href="/Geschaeftsfelder/AssetManagement">Asset Management</a>
                    </div>
                    <div class="dropdown-item"><a href="/Geschaeftsfelder/PropertyManagement">Property
                            Management</a></div>
                    <div class="dropdown-item"><a href="/Geschaeftsfelder/Generalplanung">Generalplanung</a></div>
                    <div class="dropdown-item"><a href="/Geschaeftsfelder/InvestmentManagement">Investment
                            Management</a></div>
                </div>
            </div>
            <div><a href="/#standorte">Standorte</a></div>
            <div><a href="/Referenzen">Referenzen</a></div>
            <div><a href="/Karriere">Karriere</a></div>
            <div><a href="/#kontakte" class="buttonKontakte">Kontakt</a></div>
        </div>

        <!-- Icons für LinkedIn, Facebook und Instagram -->
        <div class="social-icons">
            <a href="https://www.linkedin.com/company/baegroup/" target="_blank" title="LinkedIn">
                <img src="{{ url_for('static', filename='/Icons/linkedin.svg') }}"  alt="LinkedIn">
            </a>
            <a href="https://www.xing.com/pages/bae-group" target="_blank" title="xing">
                <img src="{{ url_for('static', filename='/Icons/xing.svg') }}"  alt="xing">
            </a>
            <a href="https://www.facebook.com/profile.php?id=61554842673825" target="_blank" title="Facebook">
                <img src="{{ url_for('static', filename='/Icons/facebook.svg') }}"  alt="Facebook">
            </a>
            <a href="https://www.instagram.com/baegroup.eu/" target="_blank" title="linkedin">
                <img src="{{ url_for('static', filename='/Icons/instagram.svg') }}"  alt="instagram">
            </a>
        </div>

        <div id="language" class="desktop">
            <div id="on">
                <a href="/">DE</a>
            </div>
            <div id="off">
                <a href="/en/">EN</a>
            </div>
        </div>
        <!-- Mobile Navigation Menu -->
        <div id="mobileMenu" class="mobile-menu">
            <div><button id="closeMobileMenu" type="button" onclick="closeMobileMenu()">
                    <i class="fas fa-times"></i></button></div>
            <div><a href="/" onclick="closeMobileMenu()">Startseite</a></div>
            <div><a href="/#ueberuns" onclick="closeMobileMenu()">Über uns</a></div>
            <div><a href="/#leistungen" onclick="closeMobileMenu()">Geschäftsfelder</a></div>
            <div><a href="/#standorte" onclick="closeMobileMenu()">Standorte</a></div>
            <div><a href="/Referenzen" onclick="closeMobileMenu()">Referenzen</a></div>
            <div><a href="/karriere" onclick="closeMobileMenu()">Karriere</a></div>
            <div><a href="/#kontakte" onclick="closeMobileMenu()">Kontakt</a></div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/company/baegroup/" target="_blank" title="LinkedIn"
                    onclick="closeMobileMenu()">
                    <img src="{{ url_for('static', filename='/Icons/linkedin.svg') }}"  alt="LinkedIn">
                </a>
                <a href="https://www.xing.com/pages/bae-group" target="_blank" title="xing" onclick="closeMobileMenu()">
                    <img src="{{ url_for('static', filename='/Icons/xing.svg') }}"  alt="xing">
                </a>
                <a href="https://www.facebook.com/profile.php?id=61554842673825" target="_blank" title="Facebook"
                    onclick="closeMobileMenu()">
                    <img src="{{ url_for('static', filename='/Icons/facebook.svg') }}"  alt="Facebook">
                </a>
                <a href="https://www.instagram.com/baegroup.eu/" target="_blank" title="instagram"
                    onclick="closeMobileMenu()">
                    <img src="{{ url_for('static', filename='/Icons/instagram.svg') }}"  alt="instagram">
                </a>
            </div>
            <div id="language" class="mobile">
                <div id="on">
                    <a href="/">DE</a>
                </div>
                <div id="off">
                    <a href="/en/">EN</a>
                </div>
            </div>
            <div id="copyright">
                BAE-GROUP 2024 <br>
                <a href="/Impressum" class="impressum" onclick="closeMobileMenu()">Impressum</a>
                <a href="/Datenschutz" class="datenschutz" onclick="closeMobileMenu()">Datenschutz</a>
            </div>
        </div>
    </div>
</body>

</html>